


<form [formGroup]="form1" (submit)="onSubmit()" >

<div class="super-bloc-fiche-produit" >
  <input formControlName="id" name="id" class="hidden" type="text">

  <div class="bloc-titre col-12">
    <h4 class="titre-produit">- <i class="fas fa-asterisk" ></i><input formControlName="name" name="name" class="name" type="text" placeholder="Nom" required> - </h4>
    <span class="text-danger" *ngIf="controlName(); let message">{{message}}</span>

    <div class="cercle-bookmark">
      <i class="fas fa-bookmark"></i>
    </div>
  </div>

  <div class="bloc-affichage-produit col-12">
    <div class="img-affichage col-6 no-gutters">
      <article>
        <figure class="work-img no-gutters">
          <i class="fas fa-asterisk" ></i>
          <img class="img col-12" src="/assets/img/produit/{{form1.value.image}}" alt="image du produit">
          <input formControlName="image" name="image" type="file" placeholder="Image du produit" required> <!-- Todo upload -->
          <span class="text-danger" *ngIf="controlImage(); let message">{{message}}</span>
          <figcaption>
            <div class="fond-filtre" ></div>
            <div class="note">
              <i class="fas fa-star"></i> <!-- todo -->
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </figcaption>
        </figure>
      </article>
    </div>
    <div class="informations-affichage col-6">
      <div class="commerce-affichage">
        <div class="bloc-prix-affichage col-12">
          <div class="affichage col-6">
            <div class="prix-affichage">
              <i class="fas fa-asterisk" ></i>
              <input formControlName="salePrice" name="salePrice" type="number" placeholder="Prix en promotion" required> €
              <span class="text-danger" *ngIf="controlSalePrice(); let message">{{message}}</span>
            </div>
            <div class="bloc-prix-barre">
                <div class="prix-barre-affichage">
                  <i class="fas fa-asterisk" ></i>
                  <input formControlName="price" name="price" type="number" placeholder="Prix" required> €
                  <span class="text-danger" *ngIf="controlPrice(); let message">{{message}}</span>
                </div>
              	<div class="trait"></div>
            </div>
          </div>

        </div>
        <div class="Lieu-affichage col-8">
          <label for="liste-mois" class="label-formulaire"> Votre produit est disponible ici :</label>
          <select id="liste-mois" class="liste-mois col-12">
            <option>Daily Juicery (lille)</option>  <!-- todo -->
            <option>Daily Juicery (lille)</option>
            <option>Daily Juicery (lille)</option>
            <option>Daily Juicery (lille)</option>
            <option>Daily Juicery (lille)</option>
            <option>Daily Juicery (lille)</option>
          </select>
        </div>

        <!-- todo
        <div class="bloc-quantite-produit col-6" *ngIf="productTemplate.schedulerWeekForSaleAndUnsold && productTemplate.schedulerWeekForSaleAndUnsold.days && (productTemplate.schedulerWeekForSaleAndUnsold.days.length==2) && productTemplate.schedulerWeekForSaleAndUnsold.days[0].hoursRanges && (productTemplate.schedulerWeekForSaleAndUnsold.days[0].hoursRanges.length>=1) ">
          <p class="offre-disponible"><i class="fas fa-asterisk"></i> Offre disponible jusqu'à {{productTemplate.schedulerWeekForSaleAndUnsold.days[0].hoursRanges[0].endTime}}.</p>
        </div>
        -->
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="bloc-composition-produit col-12">
        <div class="composition-produit">
          <h4 class="titre-detail">// DETAILS DU PRODUIT</h4>
          <h5><i class="fas fa-caret-right"></i> Composition</h5>
          <hr>
          <p class="composition-affichage">
            <i class="fas fa-asterisk" ></i>
            <textarea formControlName="description" name="description" type="text" placeholder="Description" required></textarea>
            <span class="text-danger" *ngIf="controlDescription(); let message">{{message}}</span>
          </p>
        </div>
        <div class="composition-produit">
          <h5><i class="fas fa-caret-right"></i> Emballage</h5>
          <hr>
          <p class="composition-affichage">
            <input formControlName="isPackaged" name="isPackaged" type="checkbox"  >
          </p>
        </div>
        <div class="composition-produit col-12">
          <h5><i class="fas fa-caret-right"></i> Code Produit </h5>
          <hr>
          <p class="composition-affichage">
            <input formControlName="externalCode" name="externalCode" class="externalCode" type="text" placeholder="Code Produit" >
          </p>
        </div>
        <div class="composition-produit">
          <h5><i class="fas fa-caret-right"></i> Mise en Promotion et Invendu Automatique </h5>
          <hr>
          <p class="composition-affichage">
            <input formControlName="timeControlStatus" name="timeControlStatus" type="checkbox" >
          </p>
        </div>

        <div class="composition-produit">
          <h5><i class="fas fa-caret-right"></i> Durée maximum maintient dans le panier </h5>
          <hr>
          <p class="composition-affichage">
            <i class="fas fa-asterisk" ></i>
            <input formControlName="maxDurationCart" name="maxDurationCart" type="number" placeholder="Durée maximum mainteint dans le panier" required>
            <span class="text-danger" *ngIf="controlMaxDurationCart(); let message">{{message}}</span>
          </p>
        </div>

        <div class="composition-produit col-12">
          <h5><i class="fas fa-caret-right"></i> Régime Alimentaire compatible</h5>
          <hr>
          <p class="composition-affichage"> Sportif - </p>
        </div>
        <div class="composition-produit col-12">
          <h5><i class="fas fa-caret-right"></i> Allergènes</h5>
          <hr>
          <p class="composition-affichage"> Gluten - Fruit à coque</p>
        </div>
      </div>


      <div class="bouton-panier" >
        <button id ="bt_signin_submit" class="bouton-inscription" type="submit" [disabled]="form1.invalid" >Sauvegarder</button>
        <p *ngIf="form1.invalid" class="avertissement-inscription">* Veuillez remplir tous les champs pour valider la fiche.</p>
      </div>
    </div>

  </div>

</div>

</form >
