


.hidden
{
  display: none;
}
.super-bloc-fiche-produit {
  background-color: var(--couleurBlancCreme);
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.30);
  margin-top: 150px;
}

.bloc-titre {
  padding-top: 50px;
  display: flex;
}

.titre-produit {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--couleurNoir);
  margin-left: 110px;
  padding-right: 10px;
}

.cercle-bookmark {
  width: 40px;
  height: 40px;
  background-color: var(--couleurVerte);
  border-radius: 50%;
}

.cercle-bookmark:hover ,fa-bookmark {
  color: var(--couleurVerte);
  background-color: var(--couleurNoir);

}


.bloc-affichage-produit {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}



.fa-bookmark {
  font-size: 1.2em;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}



.img-affichage {
  background-color: var(--couleurBlancCreme);
}

.commerce-affichage {
  background-color: var(--couleurNoir);
  padding-bottom: 7px;
}



.icones-affichage {
  font-family: 'roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: var(--couleurBlancCreme);
}

.img {
  width: 600px;
  max-height: 350px;
  object-fit: cover;
  box-shadow: 6px 6px 10px 1px rgba(0,0,0,0.08);
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 0;
}

.img:hover {
  opacity: 0.85;

}

figure:hover .note {
  visibility: visible;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

figure:hover figcaption {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.fond-filtre {
  width: 600px;
  max-height: 350px;
  background-color: rgba(0,0,0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  opacity: 1;
}

.note {
  color: var(--couleurVerte);
  margin-top: 20px;
  text-align: center;
  margin-top: -25%;
  position: relative;
  visibility: hidden
}

.key-allergene {
  font-family: 'roboto', sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  font-style: italic;
  line-height: 1.2em;
  color: var(--couleurNoir);
  margin-right: 15%;
  margin-left: 5%;
  margin-right: 5%;
}

.bloc-prix-affichage {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--couleurGrisClair);
}

.prix-affichage {
  min-width: 100px;
  font-family: 'roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: var(--couleurGrisClair);
  background-color: var(--couleurVerte);
  position: absolute;
  padding: 7px 14px;
}

.Lieu-affichage {
  display: block;
  margin-left: 10px;

}

.label-formulaire {
  font-family: 'roboto', sans-serif;
  font-size: 0.90em;
  font-weight: 400;
  background-color: var(--couleurNoir);
  color: var(--couleurBlancCreme);
  padding-top: 20px;
  margin-bottom: 10px;
}


.liste-mois {
  width: 450px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--couleurNoir);
  border: 1.5px solid var(--couleurNoir);
  border-radius: 5px;
  margin-bottom: 15px;
  padding-left: 10px;
  display: block;
}

select:focus {
  background-color: var(--couleurVerte);
  border: none;
}

input[type=text]:focus {
  background-color: var(--couleurVerte);
  border: none;
}

input[type=password]:focus {
  background-color: var(--couleurVerte);
  border: none;
}


input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}


input[type=checkbox] {
  -border-radius: 4px;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid var(--couleurNoir);
}

input[type="checkbox"]:checked {
  background: var(--couleurVerte);
  position: relative;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}

.bloc-quantite-produit  {
  display: flex;
}

.quantite-produit {
  width: 40px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--couleurNoir);
  border: 1.5px solid #000;
  border-radius: 5px;
  padding-left: 14px;
  margin-right: 10px;
  display: block;
}

.offre-disponible {
  font-family: 'roboto', sans-serif;
  font-size: 0.80em;
  font-weight: 400;
  font-style: italic;
  color: var(--couleurBlancCreme);
  padding-left: 10px;
  padding-bottom: 10px;
}


.bouton-panier {
  width: 185px;
  font-family: sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: var(--couleurVerte);
  background: var(--couleurNoir);
  box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--couleurVerte);
  border-radius: 28px;
  padding: 14px 20px 14px 20px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}


.bouton-panier:hover {
  color: var(--couleurBlancCreme);
  background: var(--couleurNoir);
  border: 2px solid var(--couleurBlancCreme);
  border-radius: 28px;
  padding: 16px 20px 16px 20px;
}

.fa-shopping-bag {
  margin-right: 5px;
}

.bloc-prix-barre {
  min-width: 67px;
  margin-right: 55px;
  margin-top: -20px;
  right: 0px;
  top: 0px;
  position: absolute;
}

.prix-barre-affichage {
  font-family: 'roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  color: var(--couleurNoir);
  background-color: var(--couleurRougeIncorrect);
  padding: 5px 14px;
}

.trait {
  width: 70%;
  height: 1px;
  background-color: var(--couleurNoir);
  margin-top: -12px;
  margin-left: 50%;
  transform: translate(-50%);
}

.bloc-pagination {
  width: 100%;
  height: 45px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  background-color: var(--couleurGrisClair);
  color: var(--couleurNoir);
  box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.15);
  right: 0;
  display: flex;
  bottom: 0px;
  position: absolute;
}

.pagination {
  margin-top: 7px;
  margin-left: 50%;
  transform: translate(-50%);
}

.fa-angle-left {
  color: var(--couleurNoir);
  font-size: 1.4em;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.fa-angle-double-left {
  color: var(--couleurNoir);
  margin-top: 5px;
  font-size: 1.4em;
}

.fa-angle-right {
  color: var(--couleurNoir);
  font-size: 1.4em;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.fa-angle-double-right {
  color: var(--couleurNoir);
  font-size: 1.4em;
  margin-top: 5px;
}

.text-page {
  color: var(--couleurNoir);
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
}

.cercle-element {
  width: 30px;
  height: 30px;
  color: var(--couleurVerte);
  background-color: var(--couleurNoir);
  border-radius: 50%;
  margin-right: 7px;
}

.elements-pagination {
  margin-left: 50%;
  transform: translate(-30%, 45%);
}

.bloc-composition-produit {
  background-color: var(--couleurGrisClair);
  padding-top: 40px;
}

.composition-produit {
  padding-left: 10%;
  padding-right: 10%;
}

h5 {
  background-color: var(--couleurBlancCreme);
  background-color: var(--couleurVerte);
  border-bottom: 1px solid var(--couleurNoir);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 60%;
}

.titre-detail {
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.composition-affichage {
  font-family: 'roboto', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2em;
  color: var(--couleurNoir);
  margin-bottom: 12px;
  margin-right: 15%;
  margin-left: 5%;
}
