




           /* SOCIAL MEDIAS */
.social-medias
{
    margin: 0;
    padding: 0;
    top: 50%;
    position: fixed;
    z-index: 999;
}

.social-medias li:first-child {
    width: 40px;
    height: 40px;
    background-color: var(--couleurNoir);
    list-style: none;
    text-decoration: none;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.fa-facebook-f {
    font-size: 1.2em;
    color: #fff;
    margin-left: 14px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.social-medias li:first-child:hover {
    width: 90px;
    height: 40px;
    background-color: var(--couleurNoir);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    box-shadow: 3px 3px 3px rgba(0,0,0, .1);
}

.social-medias li:hover .fa-facebook-f {
    margin-left: 67px;
}

.twitter {
    width: 40px;
    height: 40px;
    background-color: var(--couleurNoir);
    list-style: none;
    text-decoration: none;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.fa-twitter {
    font-size: 1.2em;
    color: #fff;
    margin-left: 9px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.twitter:hover {
    width: 90px;
    height: 40px;
    background-color: var(--couleurNoir);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    box-shadow: 3px 3px 3px rgba(0,0,0, .1);
}

.twitter:hover .fa-twitter {
    margin-left: 63px;
}

.instagram {
 width: 40px;
 height: 40px;
 background-color: var(--couleurNoir);
 list-style: none;
 text-decoration: none;
 -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
 box-shadow: 3px 3px 3px rgba(0,0,0, .1);
 -webkit-transition: all 0.3s ease-out;
 transition: all 0.3s ease-out;
}


.fa-instagram {
 font-size: 1.2em;
 color: #fff;
 margin-left: 9px;
 margin-top: 10px;
 -webkit-transition: all 0.3s ease-out;
 transition: all 0.3s ease-out;
}

.instagram:hover {
 width: 90px;
 height: 40px;
 background-color: var(--couleurNoir);
 -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
 box-shadow: 3px 3px 3px rgba(0,0,0, .1);
}

.instagram:hover .fa-instagram {
 margin-left: 63px;
}


.social-medias li:last-child {
    width: 40px;
    height: 40px;
    background-color: var(--couleurNoir);
    list-style: none;
    text-decoration: none;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.fa-google-plus-g {
    font-size: 1.2em;
    color: #fff;
    margin-left: 8px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.social-medias li:last-child:hover {
    width: 90px;
    height: 40px;
    background-color: var(--couleurNoir);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    box-shadow: 3px 3px 3px rgba(0,0,0, .1);
}

.social-medias li:last-child:hover .fa-google-plus-g {
    margin-left: 60px;
}
