<!-- SECTION -> FAQ -->
<section class="section-faq">
  <div class="container">
    <div class="row">
      <div class="bloc-faq col-12">
        <h1 class="titre-faq"><i class="fas fa-question-circle"></i> // F.A.Q. générale</h1>
        <p class="texte-faq">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis,<br> sic constituetis, iudices, nec descensurum quemquam ad han si attendere. </p>
        <div class="bloc-question col-12">
          <form action="">
            <input class="input-search" type="search" value="Recherchez un texte">
            <button class="bouton-search"><i class="fas fa-search"></i></button>
          </form>

          <div id="question" class="question col-9">
            <p class="titre-question"><i class="far fa-circle"></i> Can I end my days?</p>
            <i class="fas fa-angle-up"></i>
          </div>
          <div id="reponse" class="reponse col-9">
            <p class="texte-reponse">No, I still haven't commited and pushed on GitHub (but if someone else than me is seeing this, I probably did now).</p>
          </div>

          <div class="question col-9">
            <p class="titre-question"><i class="far fa-circle"></i> Question numero 02 ?</p>
            <i class="fas fa-angle-up"></i>
          </div>
          <div class="reponse col-9">
            <p class="texte-reponse">Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae.</p>
          </div>

          <div class="question col-9">
            <p class="titre-question"><i class="far fa-circle"></i> Question numero 03 ?</p>
            <i class="fas fa-angle-up"></i>
          </div>
          <div class="reponse col-9">
            <p class="texte-reponse">Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae</p>
          </div>

          <div class="question col-9">
            <p class="titre-question"><i class="far fa-circle"></i> Question numero 04 ?</p>
            <i class="fas fa-angle-up"></i>
          </div>
          <div class="reponse col-9">
            <p class="texte-reponse">Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae.</p>
          </div>

          <div class="question col-9">
            <p class="titre-question"><i class="far fa-circle"></i> Question numero 05 ?</p>
            <i class="fas fa-angle-up"></i>
          </div>
          <div class="reponse col-9">
            <p class="texte-reponse">Pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si.</p>
          </div>

          <div class="question col-9">
            <p class="titre-question"><i class="far fa-circle"></i> Question numero 06 ?</p>
            <i class="fas fa-angle-up"></i>
          </div>
          <div class="reponse col-9">
            <p class="texte-reponse">Si voluit accusare, pietati tribuo.</p>
          </div>
        </div> <!-- FIN Bloc Faq -->

        <div class="bloc-tchat">
          <h2 class="titre-tchat">BESOIN D'UN COMPLEMENT D'INFORMATION ?</h2>
          <p class="texte-tchat">Contactez-nous via le tchat</p>
          <a href="tchat"><div class="bouton-tchat">ACCEDER AU TCHAT <i class="far fa-comment-dots"></i></div></a>        </div>
      </div>
    </div>
  </div>
</section>
