
<app-command-steps [step]="1" ></app-command-steps>

<section class="section-resumer-commande">
  <div class="container">
    <div class="row">

      <div class="bloc-titre-commandes">
        <h2 class="titre-commandes"><i class="fas fa-cube"></i> / RESUME DE MA COMMANDE </h2>
        <br>
        <br>
        <p class="texte-commandes">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis,  iudices, nec descensurum</p>
        <br>
      </div>

      <div *ngIf="shoppingCart">
        <app-cart-by-commerce *ngFor="let scbc of groupByCommerce_ProductTemplate" [groupByCommerce_ProductTemplate]="scbc"></app-cart-by-commerce>
      </div>

      <div class="bloc-prix-affichage col-12">
        <div class="text-total">Total Panier :</div>
        <div class="prix-affichage">{{shoppingCart.price}} €</div>
      </div>

      <div class="bloc-bouton-commande col-12">
        <div class="bloc-retour-panier">
          <a routerLink="/shoppingCart"><div id ="bouton-retour" class="bouton-retour">PANIER</div></a>
        </div>
        <div class="bloc-payer">
          <a routerLink="/commandPayment"><div id ="bouton-payer" class="bouton-payer">PAYER</div></a>
        </div>
      </div>
    </div>
  </div>
</section>

