

<div class="col-xs-12">
  <div *ngIf="scheduler_simplified">
    <div>
      <h3>Horaires {{typeName(schedulerType)}} :</h3>
      <div *ngFor="let simpl of scheduler_simplified; index as i">
        <div class="line">
          <div *ngFor="let dayRange of simpl.dayRanges">
            <div *ngIf="dayRange.startDay === dayRange.endDay; else rangeToDisplay" >
              {{dayName(dayRange.startDay)}}
            </div>
            <ng-template #rangeToDisplay>
              <p>Du {{dayName(dayRange.startDay)}} au {{dayName(dayRange.endDay)}}</p>
            </ng-template>
          </div>
          <div *ngFor="let hr of simpl.day.hoursRanges">
            <div>{{minutesToTimeDisplay_TimeZoneClient(hr.startTime)}} - {{minutesToTimeDisplay_TimeZoneClient(hr.endTime)}}</div>
          </div>
          <div *ngIf="editMode">
            <button class="delete" (click)="remove(i)" >x</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="editMode" class="editContainer">

      <!-- Disply cumulated dayRanges and HoursRanges, before adding into the real ScheduledDay. -->
      <div>Edition : </div>
      <div class="line">
        <div *ngFor="let dayRange of edit_scheduler_simplified.dayRanges; index as i">
          <div *ngIf="dayRange.startDay === dayRange.endDay; else rangeToDisplay" >
            {{dayName(dayRange.startDay)}}
          </div>
          <ng-template #rangeToDisplay>
            <p>Du {{dayName(dayRange.startDay)}} au {{dayName(dayRange.endDay)}}</p>
          </ng-template>
          <button class="delete" (click)="removeDayRange(i)" >x</button>
        </div>
        <div *ngFor="let hr of edit_scheduler_simplified.day.hoursRanges; index as i">
          <div>{{minutesToTimeDisplay_TimeZoneClient(hr.startTime)}} - {{minutesToTimeDisplay_TimeZoneClient(hr.endTime)}}</div>
          <button class="delete" (click)="removeHoursRange(i)" >x</button>
        </div>
      </div>


      <div>
        <p>Du
        <select [(ngModel)]="ip_dayStart" >
          <option *ngFor="let dayIndex of ip_listDayIndex" [ngValue]="dayIndex" >{{dayName(dayIndex)}}</option>
        </select>
          au
        <select [(ngModel)]="ip_dayEnd" >
          <option *ngFor="let dayIndex of ip_listDayIndex" [ngValue]="dayIndex" >{{dayName(dayIndex)}}</option>
        </select>
        <button (click)="addDayRange()" >Ajouter</button>
      </div>
      <div>
        <div>
          <select [(ngModel)]="ip_hourStart_h" >
            <option *ngFor="let h of ip_listHours" [ngValue]="h" >{{h}} h</option>
          </select>
          <select [(ngModel)]="ip_hourStart_min" >
            <option *ngFor="let minutes of ip_listMinutes" [ngValue]="minutes" >{{minutes}} m</option>
          </select>
        </div>
        <div>
          <select [(ngModel)]="ip_hourEnd_h" >
            <option *ngFor="let h of ip_listHours" [ngValue]="h" >{{h}} h</option>
          </select>
          <select [(ngModel)]="ip_hourEnd_min" >
            <option *ngFor="let minutes of ip_listMinutes" [ngValue]="minutes" >{{minutes}} m</option>
          </select>
        </div>
        <button (click)="addHoursRange()" >Ajouter</button>
      </div>
      <button (click)="saveSimplifiedScheduler()" >Enregistrer</button>
    </div>

  </div>
</div>

