



/* SECTION -> Bloc Détails Commerce */

.bloc-ouverture-commerce {
  margin-top: 70px;
  background-color: var(--couleurBlancCreme);
  display: flex;
  box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.15);
}

.bloc-vitrine {
  width: 100%;
  height: 100%;
  background-color: var(--couleurGrisClair);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-vitrine {
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.detail-commerce {
  display: block;
}

.bloc-information-commerce {
  background-color: var(--couleurNoir);
}

.nom-commerce {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  color: var(--couleurBlancCreme);
  text-align: center;
  padding-top: 25px;
}

.rue-commerce {
  font-family: 'roboto', sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  font-style: italic;
  color: var(--couleurBlancCreme);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail-ouverture {
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: var(--couleurNoir);
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.fa-clock {
  color: var(--couleurVerte);
}

.detail-horaires {
  font-family: 'roboto', sans-serif;
  font-size: 0.95em;
  font-weight: 400;
  color: var(--couleurNoir);
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 7px;
}

.italic-horaire {
  font-family: 'roboto', sans-serif;
  font-size: 0.95em;
  font-weight: 400;
  color: var(--couleurNoir);
  font-style: italic;
}

.bloc-ouverture {
  text-align: center;
  padding-bottom: 25px;
  margin-top: 25px;

}

.bouton-ouverture {
  width: 160px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--couleurNoir);
  background: var(--couleurVertCorrect);
  box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--couleurBlancCreme);
  border-radius: 28px;
  padding: 10px 16px 10px 16px;
  margin-left: 34%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.bouton-ouverture:hover {
  color: var(--couleurBlancCreme);
  background: var(--couleurRougeIncorrect);
  border: 2px solid var(--couleurBlancCreme);
  border-radius: 28px;
}



