



<div class="row">
  <div class="bloc-ouverture-commerce col-12 no-gutters" id="il-faut-aller-ici-commerces">
    <div class="bloc-vitrine col-6 no-gutters">
      <a [routerLink]="'/commerceSheet/' + commerce.id"><img class="img-vitrine" src="/assets/img/commerce/{{ commerce.pictureDescription }}" alt="image de {{ commerce.name }}"></a>
    </div>
  <div class="detail-commerce col-6">
    <div class="bloc-information-commerce col-12">
      <h2 class="nom-commerce"><a [routerLink]="'/commerceSheet/' + commerce.id">{{commerce.name}} - {{commerce.uniqueIdName}}</a></h2>
      <p class="rue-commerce">{{commerce.address}}</p>
      <div class="bloc-ouverture ">
        <a href="#"><div id ="bouton-ouverture" class="bouton-ouverture">{{ commerce.isOpened ? 'OUVERT' : 'FERME' }}</div></a>
      </div>
    </div>
    <div class="bloc-information-horaire col-12">
      <!--
      // Todo a remettre
       <app-scheduler-week-txt [scheduler]="commerce.schedulerWeek" [schedulerType]="SchedulerWeekType.OPEN"></app-scheduler-week-txt>
      -->
       <ul>
        <li class="detail-ouverture"><i class="far fa-clock"></i> Horaires d'ouverture :</li>
        <li class="detail-horaires">Lundi : <span class="italic-horaire"> Fermer</span></li>
        <li class="detail-horaires">Mardi - Mercredi - Jeudi - Vendredi: <span class="italic-horaire"> 8h-19h</span></li>
        <li class="detail-horaires">Samedi - Dimanche: <span class="italic-horaire"> 9h-12h30</span></li>
      </ul>
    </div>
  </div>
