

<div class="header_space"></div>

<div class="col-xs-12">
    <div *ngIf="users">
        <h2>List Users :</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>EmlVal</th>
                <th>phoneNumber</th>
                <th>Address</th>
                <th>adressExtra</th>
                <th>postalCode</th>
                <th>cityName</th>
                <th>stateName</th>
                <th>token</th>
                <th>Avatar</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}} </td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.emailValid}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.adress}}</td>
                    <td>{{user.adressExtra}}</td>
                    <td>{{user.postalCode}}</td>
                    <td>{{user.cityName}}</td>
                    <td>{{user.stateName}}</td>
                    <td>{{user.token}}</td>

                    <td><img src="{{user.avatarFilename}}" alt="avatar" class="img-thumbnail mx-auto d-block" style="width: 30%" /></td>
                </tr>
            </tbody>
        </table>
    </div>

  <div *ngIf="merchants">
    <h2>List Merchants :</h2>
    <table class="table table-bordered table-hover">
      <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>EmlVal</th>
      <th>phoneNumber</th>
      <th>Address</th>
      <th>adressExtra</th>
      <th>postalCode</th>
      <th>cityName</th>
      <th>stateName</th>
      <th>token</th>
      <th>Avatar</th>
      </thead>
      <tbody>
      <tr *ngFor="let merchant of merchants">
        <td>{{merchant.id}} </td>
        <td>{{merchant.name}}</td>
        <td>{{merchant.email}}</td>
        <td>{{merchant.emailValid}}</td>
        <td>{{merchant.phoneNumber}}</td>
        <td>{{merchant.adress}}</td>
        <td>{{merchant.adressExtra}}</td>
        <td>{{merchant.postalCode}}</td>
        <td>{{merchant.cityName}}</td>
        <td>{{merchant.stateName}}</td>
        <td>{{merchant.token}}</td>

        <td><img src="{{merchant.avatarFilename}}" alt="avatar" class="img-thumbnail mx-auto d-block" style="width: 30%" /></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
