

<div class="header_space"></div>

<div class="col-xs-12">
    <div *ngIf="users">
        <h2>List Users :</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>EmlVal</th>
                <th>phoneNumber</th>
                <th>Address</th>
                <th>adressExtra</th>
                <th>postalCode</th>
                <th>cityName</th>
                <th>stateName</th>
                <th>token</th>
                <th>Avatar</th>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}} </td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.emailValid}}</td>
                    <td>{{user.phoneNumber}}</td>
                    <td>{{user.adress}}</td>
                    <td>{{user.adressExtra}}</td>
                    <td>{{user.postalCode}}</td>
                    <td>{{user.cityName}}</td>
                    <td>{{user.stateName}}</td>
                    <td>{{user.token}}</td>

                    <td><img src="{{user.avatarFilename}}" alt="avatar" class="img-thumbnail mx-auto d-block" style="width: 30%" /></td>
                </tr>
            </tbody>
        </table>
    </div>

  <div *ngIf="merchants">
    <h2>List Merchants :</h2>
    <table class="table table-bordered table-hover">
      <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>EmlVal</th>
      <th>phoneNumber</th>
      <th>Address</th>
      <th>adressExtra</th>
      <th>postalCode</th>
      <th>cityName</th>
      <th>stateName</th>
      <th>token</th>
      <th>Avatar</th>
      </thead>
      <tbody>
      <tr *ngFor="let merchant of merchants">
        <td>{{merchant.id}} </td>
        <td>{{merchant.name}}</td>
        <td>{{merchant.email}}</td>
        <td>{{merchant.emailValid}}</td>
        <td>{{merchant.phoneNumber}}</td>
        <td>{{merchant.adress}}</td>
        <td>{{merchant.adressExtra}}</td>
        <td>{{merchant.postalCode}}</td>
        <td>{{merchant.cityName}}</td>
        <td>{{merchant.stateName}}</td>
        <td>{{merchant.token}}</td>

        <td><img src="{{merchant.avatarFilename}}" alt="avatar" class="img-thumbnail mx-auto d-block" style="width: 30%" /></td>
      </tr>
      </tbody>
    </table>
  </div>






  <div *ngIf="commerces">
    <h2>List Merchants Commerces :</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>codeSiret</th>
        <th>uniqueIdName</th>
        <th>description</th>
        <th>Address</th>
        <th>adressExtra</th>
        <th>postalCode</th>
        <th>cityName</th>
        <th>stateName</th>
        <th>schedule</th>
        <th>pictureLogo</th>
        <th>pictureDescription</th>
        <th>isOpened</th>
      </thead>
      <tbody>
      <tr *ngFor="let c of commerces">
        <td>{{c.id}} </td>
        <td>{{c.name}}</td>
        <td>{{c.codeSiret}}</td>
        <td>{{c.uniqueIdName}}</td>
        <td>{{c.description}}</td>
        <td>{{c.address.address}}</td>
        <td>{{c.address.addressExtra}}</td>
        <td>{{c.address.postalCode}}</td>
        <td>{{c.address.cityName}}</td>
        <td>{{c.address.stateName}}</td>
        <td>{{c.schedule}}</td>
        <td>{{c.isOpened}}</td>

        <td><img src="{{c.pictureLogo}}" alt="logo" class="img-thumbnail mx-auto d-block" style="width: 30%" /></td>
        <td><img src="{{c.pictureDescription}}" alt="picture" class="img-thumbnail mx-auto d-block" style="width: 30%" /></td>

      </tr>
      </tbody>
    </table>
  </div>

  <!--
  <div>
    <h3>AddCommerce</h3>
    <form class="formulaire-inscription" [formGroup]="form1" (submit)="onSubmit()" >


      <label class="label-formulaire"><i class="fas fa-asterisk"></i> Vous êtes :</label>
      <select formControlName="role" name="role" class="liste-deroulante"  #inputRole >
        <option value="INDIVIDUAL" selected="selected">Particulier</option>
        <option value="MERCHANT" >Commerçant</option>
        <option value="ASSOCIATION" >Association</option>
      </select>

      <label class="label-formulaire"><i class="fas fa-asterisk" ></i> Pseudo</label>
      <input formControlName="name" name="name" class="pseudo" type="text" placeholder="Pseudo" required>
      <span class="text-danger" *ngIf="controlName(); let message">{{message}}</span>

      <label class="label-formulaire"><i class="fas fa-asterisk"></i> Email</label>
      <input formControlName="email" name="email" class="email" type="text" placeholder="@Email" required>
      <span class="text-danger" *ngIf="controlEmail(); let message">{{message}}</span>

      <label class="label-formulaire"><i class="fas fa-asterisk"> </i> Mot de Passe</label>
      <input formControlName="password" name="password" class="mdp" type="password" required>
      <span class="text-danger" *ngIf="controlPassword(); let message">{{message}}</span>

      <label class="label-formulaire"><i class="fas fa-asterisk"></i> Confirmation Mot de Passe</label>
      <input formControlName="confirm" name="confirm" class="confirmation" type="password" required>
      <span class="text-danger" *ngIf="controlPasswordConfirm(); let message">{{message}}</span>

      <div class="bloc-checkbox">
        <input formControlName="term" name="accept_generale_condition" class="checkbox" type="checkbox" required >
        <label class="label" >J'ai lu et j'accepte les conditions générales <br> d'utilisation.</label>
        <span class="text-danger" *ngIf="controlTerm(); let message">{{message}}</span>
      </div>
      <div class="bloc-checkbox2" *ngIf="(inputRole.value==='MERCHANT')||(inputRole.value==='ASSOCIATION')" >
        <input formControlName="declaration" name="confirm_on_honor" class="checkbox2" type="checkbox" [attr.required]="(inputRole.value==='MERCHANT')||(inputRole.value==='ASSOCIATION')" >
        <label class="label" >Je certifie sur l'honneur que les informations <br> fournies sont rigoureusement exactes</label>
        <span class="text-danger" *ngIf="controlDeclaration(); let message">{{message}}</span>
      </div>
      <div class="bloc-checkbox3">
        <input formControlName="newsletterEnabled" name="newsletterEnabled" class="checkbox3" type="checkbox">
        <label class="label" >J'accepte de recevoir des annonces.</label>
      </div>

      <button id ="bt_signin_submit" class="bouton-inscription" type="submit" [disabled]="form1.invalid" >S'INSCRIRE</button>
      <p *ngIf="form1.invalid" class="avertissement-inscription">* Veuillez remplir tous les champs pour valider votre inscription.</p>
    </form>
  </div>
  -->



</div>
