

<!-- SECTION/ Commentaires -->
<section class="section-commentaires">
  <div class="container">
    <div class="row">
      <div class="bloc-titre-commentaires col-12">
        <h2 class="titre-commentaires"><i class="far fa-comment"></i> / Commentaires :</h2>
        <div class="bloc-validation-commentaire col-5">
          <p class="texte-validation">Votre message à bien été envoyé</p>
        </div>
        <div class="bloc-textarea">
          <textarea class="textarea col-8" >Ecrivez votre commentaire ici</textarea>
          <div class="bloc-envoyer">
            <a href=""><div id ="bouton-envoyer" class="bouton-envoyer">ENVOYER</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="commentaires">
        <div class="commentaire-auteur">
          <div class="nom-auteur">
            <div class="avatar">
              <p class="text-avatar"></p>
            </div>
            <p class="auteur">Anonyme</p>
            <p class="date">publié il y a 1 mois <i class="fas fa-exclamation-triangle"></i></p>
          </div>
          <p class="commentaire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos magni sit in tenetur eius, non officiis eligendi et modi iste quisquam quia ipsam ipsa deleniti, impedit reiciendis dolorum. Tempora, dolorum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos magni sit in tenetur eius, non officiis eligendi et modi iste quisquam quia ipsam ipsa deleniti, impedit reiciendis dolorum. Tempora, dolorum.</p>
          <hr class="separation-commentaire">
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <div class="commentaires">
        <div class="commentaire-auteur">
          <div class="nom-auteur">
            <div class="avatar">
              <p class="text-avatar"></p>
            </div>
            <p class="auteur">Anonyme</p>
            <p class="date">publié il y a 1 mois <i class="fas fa-exclamation-triangle"></i></p>
          </div>
          <p class="commentaire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos magni sit in tenetur eius, non officiis eligendi et modi iste quisquam quia ipsam ipsa deleniti, impedit reiciendis dolorum.</p>
          <hr class="separation-commentaire">
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <div class="commentaires">
        <div class="commentaire-auteur">
          <div class="nom-auteur">
            <div class="avatar">
              <p class="text-avatar"></p>
            </div>
            <p class="auteur">Anonyme</p>
            <p class="date">publié il y a 1 mois <i class="fas fa-exclamation-triangle"></i></p>
          </div>
          <p class="commentaire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos magni sit in tenetur eius, non officiis eligendi et modi iste quisquam quia ipsam ipsa deleniti, impedit reiciendis dolorum. Tempora, dolorum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos magni sit in tenetur eius, non officiis eligendi et modi iste quisquam quia ipsam ipsa deleniti, impedit reiciendis dolorum. Tempora, dolorum.</p>
          <hr class="separation-commentaire">
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <div class="commentaires">
        <div class="commentaire-auteur">
          <div class="nom-auteur">
            <div class="avatar">
              <p class="text-avatar"></p>
            </div>
            <p class="auteur">Anonyme</p>
            <p class="date">publié il y a 1 mois <i class="fas fa-exclamation-triangle"></i></p>
          </div>
          <p class="commentaire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos magni sit in tenetur eius, non officiis eligendi et modi iste quisquam quia ipsam ipsa deleniti, impedit reiciendis dolorum.</p>
          <hr class="separation-commentaire">
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <div class="commentaires">
        <div class="commentaire-auteur">
          <div class="nom-auteur">
            <div class="avatar">
              <p class="text-avatar"></p>
            </div>
            <p class="auteur">Anonyme</p>
            <p class="date">publié il y a 1 mois <i class="fas fa-exclamation-triangle"></i></p>
          </div>
          <p class="commentaire">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <hr class="separation-commentaire">
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <div class="commentaires">
        <div class="commentaire-auteur">
          <div class="nom-auteur">
            <div class="avatar">
              <p class="text-avatar"></p>
            </div>
            <p class="auteur">Anonyme</p>
            <p class="date">publié il y a 1 mois <i class="fas fa-exclamation-triangle"></i></p>
          </div>
          <p class="commentaire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos magni sit in tenetur eius, non officiis eligendi et modi iste quisquam.</p>
          <hr class="separation-commentaire">
          <div class="star">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
          </div>
        </div>
      </div>
      <div class="espace"></div>
    </div>
  </div>
</section>

