<section class="section-bonjour-compte">
  <div class="container">
    <div class="row">
      <div class="bloc-bonjour-compte col-12">
        <div class="bloc-avatar">
          <img class="img" src="css/img/profil/profil.png" alt="photo de l'utilisateur">
        </div>
        <div class="bloc-bonjour">
          <h2>Bonjour John Doe</h2>
          <p class="message-bonjour"><i class="fas fa-quote-left"></i> Bienvenue sur votre compte. Retrouvez toutes vos informations personnelles et vos préférences. <i class="fas fa-quote-right"></i>
          </p>
        </div>
      </div>

      <div class="grand-bloc-onglets">
        <div class="bloc-onglet">
          <a href="myProfile">
            <div class="onglet">
              <p class="nom-onglet">
                <i class="fas fa-user"></i> Profil
              </p>
            </div>
          </a>
          <a href="myPreferences">
            <div class="onglet2">
              <p class="nom-onglet">
                <i class="fas fa-cog"></i> Préférences
              </p>
            </div>
          </a>
          <a href="myOrders">
            <div class="onglet3">
              <p class="nom-commandes">
                <i class="fas fa-cube"></i> Commandes
              </p>
            </div>
          </a>
          <a href="myComments">
            <div class="onglet4">
              <p class="nom-commentaires">
                <i class="fas fa-comments"></i> Commentaires
              </p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="section-edition-profil">
  <div class="container">
    <div class="row">
      <h1 class="titre-commentaires col-12"><i class="fas fa-comments"></i> / Vos Commentaires</h1>
      <div class="commentaires">
        <div class="bloc-commentaire">
          <div class="avatar">
            <p class="text-avatar"></p>
          </div>
          <div class="commentaire-auteur">
            <div class="nom-auteur">
              <p class="auteur">Eclair Au Chocolat</p>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <p class="date">publié il y a 1 mois <i class="fas fa-trash-alt"></i></p>
            </div>
            <div class="separation-commentaire"></div>
            <p class="commentaire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos magni sit in tenetur eius, non officiis eligendi et modi iste quisquam quia ipsam ipsa deleniti, impedit reiciendis dolorum. Tempora, dolorum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos magni sit in tenetur eius, non officiis eligendi et modi iste quisquam quia ipsam ipsa deleniti, impedit reiciendis dolorum. Tempora, dolorum.</p>
          </div>
        </div>
      </div>

      <div class="commentaires">
        <div class="bloc-commentaire">
          <div class="avatar">
            <p class="text-avatar"></p>
          </div>
          <div class="commentaire-auteur">
            <div class="nom-auteur">
              <p class="auteur">Eclair Au Chocolat</p>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <p class="date">publié il y a 1 mois <i class="fas fa-trash-alt"></i></p>
            </div>
            <div class="separation-commentaire"></div>
            <p class="commentaire">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos magni sit in tenetur eius, non officiis.</p>
          </div>
        </div>
      </div>

      <div class="commentaires">
        <div class="bloc-commentaire">
          <div class="avatar">
            <p class="text-avatar"></p>
          </div>
          <div class="commentaire-auteur">
            <div class="nom-auteur">
              <p class="auteur">Eclair Au Chocolat</p>
              <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
              <p class="date">publié il y a 1 mois <i class="fas fa-trash-alt"></i></p>
            </div>
            <div class="separation-commentaire"></div>
            <p class="commentaire">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="espace-bas"></div>
    </div>
  </div>
</section>
