/* SECTION - Bonjour */

.bloc-bonjour-compte {
  background-color: var(--couleurGrisClair);
  border-bottom: 2px solid var(--couleurNoir);
  display: flex;
  margin-top: 55px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bloc-avatar {
  margin-left: 90px;
}

.img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.bloc-bonjour {
  margin-left: 40px;
  margin-top: 40px;
}

h2 {
  font-family: 'roboto', sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 10px;
}

.message-bonjour {
  font-family: 'roboto', sans-serif;
  font-size: 0.90em;
  font-weight: 400;
}

.fa-quote-left {
  background-color: var(--couleurVerte);
}

.fa-quote-right {
  background-color: var(--couleurVerte);
}

/* SECTION - Bonjour-Compte */

.grand-bloc-onglets {
  width: 100%;
  border-bottom: 1px solid var(--couleurNoir);
  background-color: var(--couleurVerte);
  padding-bottom: 30px;
}

.bloc-onglet {
  display: flex;
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%);
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.10);
}

.onglet {
  width: 150px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: var(--couleurVerte);
  border: 1px solid var(--couleurVerte);
  border-radius: 8px 00px 00px 8px;
  background-color: var(--couleurNoir);
  padding: 10px;
  cursor: pointer;
  opacity: 0.5;
}

.onglet:hover {
  opacity: 1;
}

.onglet2 {
  width: 150px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: var(--couleurVerte);
  border: 1px solid var(--couleurVerte);
  background-color: var(--couleurNoir);
  padding: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  opacity: 1;
}

.onglet2:hover {
  opacity: 1;
}

.onglet3 {
  width: 150px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: var(--couleurVerte);
  border: 1px solid var(--couleurVerte);
  background-color: var(--couleurNoir);
  padding: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  opacity: 0.5;
}

.onglet3:hover {
  opacity: 1;
}

.onglet4 {
  width: 150px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: var(--couleurVerte);
  border: 1px solid var(--couleurVerte);
  border-radius: 0px 8px 8px 0px;
  background-color: var(--couleurNoir);
  padding: 10px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  opacity: 0.5;
}

.onglet4:hover {
  opacity: 1;
}

.nom-onglet {

}


/* SECTION -> Bloc Mes-PrĂ©ferences */
titre-inscription {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: var(--couleurNoir);
  text-align: center;
  padding-top: 30px;
}

.texte-inscription {
  font-family: 'roboto', sans-serif;
  text-align: left;
  font-size: 0.90em;
  font-weight: 400;
  color: var(--couleurBNoir);
  margin-left: 50%;
  padding-bottom: 30px;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
}


.section-inscription {
  /* background-image: url(img/pattern/funky-lines2.jpg); */
}

.bloc-formulaire-inscription {
  transform: translate(-50%);
  margin-left: 50%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.formulaire-inscription {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  -webkit-box-shadow: -5px 25px 74px -19px rgba(0,0,0,0.34);
  -moz-box-shadow: -5px 25px 74px -19px rgba(0,0,0,0.34);
  box-shadow: -5px 25px 74px -19px rgba(0,0,0,0.34);
  padding-top: 80px;
  padding-bottom: 80px;
}

.fa-asterisk {
  font-size: 0.7em;
  color: var(--couleurVerte);
}

.liste-deroulante {
  width: 300px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--couleurNoir);
  border: 1.5px solid #000;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-top: 5px;
  padding-left: 10px;

}

.label-formulaire {
  width: 400px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: var(--couleurNoir);
  margin-top: 15px;
  margin-bottom: 2px;
}

.bloc-regime-alimentaire {
  width: 100%;
  display: flex;
}

.bloc1 {
  width: 350px;
  height: 150px;
  border: 2px solid var(--couleurNoir);
}

.titre-formulaire {
  width: 600px;
  font-family: 'roboto', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  color: var(--couleurNoir);
  margin-top: 60px;
  margin-bottom: 20px;
}

.pseudo {
  width: 300px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--couleurNoir);
  border: 1.5px solid #000;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 50%;
  padding-left: 10px;
  transform: translate(-50%);
  display: block;
}

.email {
  width: 300px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--couleurNoir);
  border: 1.5px solid #000;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 50%;
  padding-left: 10px;
  transform: translate(-50%);
  display: block;
}

.mdp {
  width: 300px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--couleurNoir);
  border: 1.5px solid #000;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 50%;
  padding-left: 10px;
  transform: translate(-50%);
  display: block;
}

.confirmation {
  width: 300px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--couleurNoir);
  border: 1.5px solid #000;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-left: 50%;
  padding-left: 10px;
  transform: translate(-50%);
  display: block;
}

.bloc-checkbox {
  font-family: 'roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
}

.checkbox {
  margin-right: 8px;
}

.bloc-checkbox2 {
  font-family: 'roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
  margin-left: 30%;
  display: flex;
}

.checkbox2 {
  margin-right: 8px;
}

.bloc-checkbox3 {
  font-family: 'roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  margin-left: 30%;
  display: flex;
}

.checkbox3 {
  margin-right: 8px;
}


select:focus {
  background-color: var(--couleurVerte);
  border: none;
}

input[type=text]:focus {
  background-color: var(--couleurVerte);
  border: none;
}

input[type=password]:focus {
  background-color: var(--couleurVerte);
  border: none;
}


input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}


input[type=checkbox] {
  -border-radius: 4px;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid var(--couleurNoir);
}

input[type="checkbox"]:checked {
  background: var(--couleurVerte);
  position: relative;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}
.bloc-edition-profil {
  background-color: var(--couleurBlancCreme);
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.10);
  padding-top: 50px;
  padding-bottom: 40px;
  margin-top: 30px;
}

.titre-edition {
  font-family: 'ubuntu', sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.profil-avatar {
  background-color: var(--couleurGrisClair);
  display: block;
  margin-bottom: 30px;
}

.photo-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
  margin-bottom: 15px;
}

.input-avatar {
  font-family: 'roboto', sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  border: none;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translate(-50%);
}

.profil {
  width: 200px;
  display: block;
  color: var(--couleurNoir);
  margin-left: 100px;
}

select:focus {
  background-color: var(--couleurVerte);
  border: none;
}

input[type=text]:focus {
  background-color: var(--couleurVerte);
  border: none;
}

input[type=password]:focus {
  background-color: var(--couleurVerte);
  border: none;
}

.bouton-enregistrer {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--couleurVerte);
  background: rgba(255, 82, 47, 1);
  background: var(--couleurNoir);
  border-radius: 20px;
  border: none;
  transform: translate(0%, 0%);
  padding: 12px 20px 12px 20px;
  -webkit-box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-left: 130px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.bouton-enregistrer:hover {
  color: var(--couleurNoir);
  background: var(--couleurVerte);
}

/* SECTION -> Bloc Recherches Par Defaut */

.section-recherche-defaut {
  margin-top: 30px;
}

.bloc-edition-profil2 {
  color: var(--couleurNoir);
  background-color: var(--couleurGrisClair);
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.10);
  padding-top: 50px;
  padding-bottom: 40px;
}

.titre-rechercher-produit {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  color: var(--couleurNoir);
  text-align: left;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 60px;
  margin-top: 90px;
}

.bloc-map {
  width: 100%;
  background-color: var(--couleurBlancCreme);
  box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.15);
  padding: 40px;
}

.bloc-input-recherche {
  display: flex;
  margin-bottom: 40px;
}

.display-input {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}

.bloc-ou {
  background-color: var(--couleurNoir);
  box-shadow: 4px 4px 10px 2px rgba(0,0,0,0.15);
}

.bloc-quoi {
  background-color: var(--couleurNoir);
  box-shadow: 4px 4px 10px 2px rgba(0,0,0,0.15);
}

.text-input {
  font-family: 'roboto', sans-serif;
  font-size: 0.85em;
  font-weight: 600;
  font-style: italic;
  color: var(--couleurVerte);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.recherche-ou {
  height: 30px;
  border-radius: 20px;
  border: none;
  font-family: 'roboto', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  font-style: italic;
  color: var(--couleurNoir);
  padding-left: 15px;
  margin-left: 50%;
  transform: translate(-50%);
}

.recherche-quoi {
  height: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  font-style: italic;
  color: var(--couleurNoir);
  border-radius: 20px;
  border: none;
  padding-left: 15px;
  margin-left: 50%;
  margin-bottom: 35px;
  transform: translate(-50%);
}

.bouton-valider {
  width: 180px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--couleurVerte);
  background: var(--couleurNoir);
  border: none;
  border-radius: 28px;
  transform: translate(0%, 0%);
  padding: 15px 20px 15px 20px;
  margin-top: 30px;
  margin-left: 50%;
  transform: translate(-50%);
  -webkit-box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.bouton-valider:hover {
  color: var(--couleurNoir);
  background:  var(--couleurVerte);
}

/* SECTION -> Bloc Abonnements & Notifications */







/* BOUTON-UP */

.fond-up {
  background-color: var(--couleurBlanc);

}

.bouton-up {
  width: 60px;
  height: 60px;
  border-radius: 20% 2%;
  background-color: var(--couleurNoir);
  right: 2%;
  bottom: 2%;
  -webkit-box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, .1);
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, .1);
  position: absolute;
  cursor: pointer;
}

.fa-chevron-up {
  font-size: 2em;
  color: var(--couleurBlanc);
  margin-left: 50%;
  margin-top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
