

<section class="section-fiche-produit">
  <div class="container">
    <div class="row col-12">
      <div class="super-bloc-fiche-produit">
        <div class="bloc-titre col-12">
          <h4 class="titre-produit">- Jus de fruits frais -</h4>
          <div class="cercle-bookmark">
            <i class="fas fa-bookmark"></i>
          </div>
        </div>

        <div class="bloc-affichage-produit col-12">
          <div class="img-affichage col-6 no-gutters">
            <article>
              <figure class="work-img no-gutters">
                <img class="img col-12" src="/assets/img/produit/eclairchocoloat-mathieu.jpg" alt="image du produit">
                <figcaption>
                  <div class="fond-filtre" ></div>
                  <div class="note">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </figcaption>
              </figure>
            </article>
          </div>
          <div class="informations-affichage col-6">
            <div class="commerce-affichage">
              <div class="bloc-prix-affichage col-12">
                <div class="affichage col-6">
                  <div class="prix-affichage">144,90 €</div>
                  <div class="bloc-prix-barre">
                    <div class="prix-barre-affichage">25,00 €</div>
                    <div class="trait"></div>
                  </div>
                </div>
                <div class="bloc-panier">
                  <a href="shoppingCart"><div id ="bouton-panier" class="bouton-panier"><i class="fas fa-shopping-bag"></i>AJOUTER AU PANIER</div></a>
                </div>
              </div>
              <div class="Lieu-affichage col-8">
                <label for="liste-mois" class="label-formulaire"> Votre produit est disponible ici :</label>
                <select id="liste-mois" class="liste-mois col-12">
                  <option>Daily Juicery (lille)</option>
                  <option>daily Juicery (lille)</option>
                  <option>daily Juicery (lille)</option>
                  <option>daily Juicery (lille)</option>
                  <option>daily Juicery (lille)</option>
                  <option>daily Juicery (lille)</option>
                </select>
              </div>
              <div class="bloc-quantite-produit col-6">
                <p class="offre-disponible"><i class="fas fa-asterisk"></i> Offre disponible jusque 19h.</p>
              </div>
            </div>
          </div>

        </div>
        <div class="container">
          <div class="row">
            <div class="bloc-composition-produit col-12">
              <div class="composition-produit">
                <h4 class="titre-detail">// DETAILS DU PRODUIT</h4>
                <h5><i class="fas fa-caret-right"></i> Composition</h5>
                <hr>
                <p class="composition-affichage"> Royal Gala - Cox orange Granny smith - Vanille Bourbon de Madagascar.
                  Royal Gala - Cox orange Granny smith - Vanille Bourbon de Madagascar. Royal Gala - Cox orange Granny smith - Vanille Bourbon de Madagascar.
                  Royal Gala - Cox orange Granny smith - Vanille Bourbon de Madagascar.</p>
              </div>
              <div class="composition-produit">
                <h5><i class="fas fa-caret-right"></i> Emballage</h5>
                <hr>
                <p class="composition-affichage"> Avec emballage.</p>
              </div>
              <div class="composition-produit col-12">
                <h5><i class="fas fa-caret-right"></i> Régime Alimentaire compatible</h5>
                <hr>
                <p class="composition-affichage"> Sportif - </p>
              </div>
              <div class="composition-produit col-12">
                <h5><i class="fas fa-caret-right"></i> Allergènes</h5>
                <hr>
                <p class="composition-affichage"> Gluten - Fruit à coque</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-comments></app-comments>
