
<!-- SECTION -> Reinitialisation -->
<section class="section-reinitialisation">
  <div class="bloc-formulaire-reinitialisation">
    <div class="bloc-titre-reinitialisation">
      <h1 class="titre-reinitialisation">// REINITIALISATION MOT DE PASSE</h1>
      <br>
      <br>
      <p class="texte-reinitialisation col-8">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum</p>
      <br>
    </div>

    <form class="formulaire-reinitialisation" action="" method="get">
      <label for="mdp" class="label-formulaire"><i class="fas fa-asterisk"> </i> Mot de Passe</label>
      <input id="mdp" class="mdp" type="password" name="mdp"
             minlength="15" maxlength="15" required>
      <span id="mdpRegex" class="mdp-regex"></span>

      <label for="confirmation" class="label-formulaire"><i class="fas fa-asterisk"></i> Confirmation du mot de passe</label>
      <input id="confirmation" class="confirmation" type="password" name="confirmation" minlength="15" maxlength="15" required>
      <span id="confirmationRegex" class="confirmation-regex"></span>

      <a href=""><div id ="bouton-reinitialisation" class="bouton-reinitialisation">envoyer</div></a>
      <p class="avertissement-reinitialisation">* Veuillez remplir tous les champs pour valider votre inscription.</p>
    </form>
  </div>
</section>
