
<div class="background"> <!-- Background => Dévoilement du footer-->
  <section class="section-bonjour-compte">
    <div class="container">
      <div class="row">
        <div class="bloc-bonjour-compte col-12">
          <div class="bloc-avatar">
            <img class="img-bonjour" src="/assets/img/profil/profil.png" alt="photo de l'utilisateur">
          </div>
          <div class="bloc-bonjour">
            <h2>Bonjour Gilles</h2>
            <p class="message-bonjour"><i class="fas fa-quote-left"></i> Bienvenue sur votre compte. Retrouvez toutes vos informations personnelles et vos préférences. <i class="fas fa-quote-right"></i>
            </p>
          </div>
        </div>

        <div class="grand-bloc-onglets">
          <div class="bloc-onglet">
            <a href="#il-faut-aller-ici-commerces">
              <div class="onglet">
                <p class="nom-onglet">
                  Mes Commerces
                </p>
              </div>
            </a>
            <a href="#il-faut-aller-ici-commandes">
              <div class="onglet2">
                <p class="nom-onglet">
                  Commandes en Cours
                </p>
              </div>
            </a>
            <a href="#il-faut-aller-ici-produits">
              <div class="onglet3">
                <p class="nom-commandes">
                  Mes Produits
                </p>
              </div>
            </a>
            <a href="#il-faut-aller-ici-comptes">
              <div class="onglet4">
                <p class="nom-commentaires">
                  Comptes Employés
                </p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>


  <app-product-list></app-product-list>


  <div class="container">
    <div class="row">
      <div class="bloc-mes-produits col-12">
        <h2 class="titre-mes-produits col-5">// MES PRODUITS </h2>
        <div class="bloc-img-produits col-12">
          <figure class="element-img">
            <a href="#"><img class="img-produit" src="/assets/img/produit/pain-tradition.jpg" alt="photo du produit"></a>
            <a href="">
              <div class="cercle-plus">
                <span class="plus"><i class="fas fa-plus"></i></span>
              </div>
            </a>
          </figure>
          <figure class="element-img">
            <a href="#"><img class="img-produit" src="/assets/img/produit/eclairchocoloat-mathieu.jpg" alt="photo du produit"></a>
            <a href="">
              <div class="cercle-plus">
                <span class="plus"><i class="fas fa-plus"></i></span>
              </div>
            </a>
          </figure>
          <figure class="element-img">
            <a href="#"><img class="img-produit" src="/assets/img/produit/croissant-mathieu.jpg" alt="photo du produit"></a>
            <a href="">
              <div class="cercle-plus">
                <span class="plus"><i class="fas fa-plus"></i></span>
              </div>
            </a>
          </figure>
          <figure class="element-img">
            <a href="#"><img class="img-produit" src="/assets/img/produit/painfromage-mathieu.jpg" alt="photo du produit"></a>
            <a href="">
              <div class="cercle-plus">
                <span class="plus"><i class="fas fa-plus"></i></span>
              </div>
            </a>
          </figure>
          <figure class="element-img">
            <a href="#"><img class="img-produit" src="/assets/img/produit/painolivesmathieujpg.jpg" alt="photo du produit"></a>
            <a href="">
              <div class="cercle-plus">
                <span class="plus"><i class="fas fa-plus"></i></span>
              </div>
            </a>
          </figure>
          <figure class="element-img">
            <a href="#"><img class="img-produit" src="/assets/img/produit/segles-mathieu.jpg" alt="photo du produit"></a>
            <a href="">
              <div class="cercle-plus">
                <span class="plus"><i class="fas fa-plus"></i></span>
              </div>
            </a>
          </figure>
          <figure class="element-img">
            <a href="#"><img class="img-produit" src="/assets/img/produit/tartelettePistacheGriottesCrumble-mathieu.jpg" alt="photo du produit"></a>
            <a href="">
              <div class="cercle-plus">
                <span class="plus"><i class="fas fa-plus"></i></span>
              </div>
            </a>
          </figure>
          <figure class="element-img">
            <a href="#"><img class="img-produit" src="/assets/img/produit/sandwich-subways.jpg" alt="photo du produit"></a>
            <a href="">
              <div class="cercle-plus">
                <span class="plus"><i class="fas fa-plus"></i></span>
              </div>
            </a>
          </figure>
        </div>
      </div>
      <div class="bloc-mes-commerces col-12">
        <h2 class="titre-mes-commerces col-5">// MES COMMERCES </h2>
        <div class="bloc-img-commerces col-12">
          <a href=""><img class="img-commerce" src="/assets/img/commerce/basilic.png" alt=""></a>
          <a href=""><img class="img-commerce" src="/assets/img/commerce/freshway.jpg" alt=""></a>
          <a href=""><img class="img-commerce" src="/assets/img/commerce/daily-juicery.png" alt=""></a>
          <a href=""><img class="img-commerce" src="/assets/img/commerce/boulangerie-mathieu.jpeg" alt=""></a>
        </div>
      </div>
    </div>
  </div>





  <section class="section-commande">
    <div class="container">
      <div class="row">
      </div>
      <div class="bloc-titre-commandes">
        <h2 class="titre-commandes"><i class="fas fa-cube"></i> / MES COMMANDES EN COURS </h2>
        <br>
        <br>
        <p class="texte-commandes">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis,  iudices, nec descensurum</p>
        <br>

        <div class="bloc-facture-print col-12">
          <a href="">
            <div class="print">
              <i class="fas fa-print"></i>
            </div>
          </a>
          <a href="">
            <div class="pdf">
              <i class="far fa-file-pdf"></i>
            </div>
          </a>
        </div>

        <div class="bloc-commerce-commande">
          <h3 class="titre-commerce">- Boulangerie Mathieu -</h3>
          <table class="table-commande col-12">
            <tr class="tr-titre">
              <td class="td-titre col-4">Produits</td>
              <td class="td-titre col-3">Prix</td>
              <td class="td-titre col-2">Quantité</td>
              <td class="td-titre col-2">Total</td>
            </tr>
            <tr class="tr">
              <td class="td-produits col-4">Croissant</td>
              <td class="td col-3">1.10€</td>
              <td class="td col-3">02</td>
              <td class="td col-2">2.20€</td>
            </tr>
          </table>
        </div>
        <div class="bloc-commerce-commande">
          <h3 class="titre-commerce">- Daily Juicery -</h3>
          <table class="table-commande col-12">
            <tr class="tr-titre">
              <td class="td-titre col-4">Produits</td>
              <td class="td-titre col-3">Prix</td>
              <td class="td-titre col-3">Quantité</td>
              <td class="td-titre col-2">Total</td>
            </tr>
            <tr class="tr">
              <td class="td-produits col-4">ROOTS 1.2, Jus détox 100% naturel</td>
              <td class="td col-3">7.00€</td>
              <td class="td col-3">01</td>
              <td class="td col-2">7.00€</td>
            </tr>
            <tr class="tr">
              <td class="td-produits col-4">GREEN 5.0, Jus détox 100% naturel</td>
              <td class="td col-3">7.00€</td>
              <td class="td col-3">02</td>
              <td class="td col-2">14.00€</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>




  <section class="section-historique">
    <div class="container col-12 no-gutters">
      <div class="row">
        <div class="bloc-historique-commande ">
          <p class="texte-historique-commande">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis,  iudices, nec descensurum</p>
          <a href=""><div id ="bouton-historique-commande" class="bouton-historique-commande">Historique Commande</div></a>
        </div>
      </div>
    </div>
  </section>


  <!-- BOUTON UP -->
  <div class="fond-up">
    <div id="bouton-up" class="bouton-up">
      <i class="fas fa-chevron-up"></i>
    </div>
  </div>
</div> <!-- Fin du Background => Dévoilement du footer-->

