


<section class="section-rechercher-produit">
  <div class="container">
    <div class="row">
      <div class="bloc-map col-12">
        <h2 class="titre-rechercher-produit col-12" id="il-faut-aller-ici-produits">// VOS PRODUITS</h2>
        <h5 class="texte-recomandation">"Nous vous recommandons ces produits."</h5>
        <div class="bloc-input-recherche col-12">
          <form class="display-input col-12" action="">
            <div class="bloc-quoi col-9">
              <p class="text-input">Rechercher un Produit </p>
              <input class="recherche-quoi col-8" type="text" name="quoi" placeholder="Tous type de produits" >
            </div>
            <div class="bloc-rechercher col-3">
              <button class="bouton-rechercher" type="button">RECHERCHER</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-affichage-produit">
  <div class="container">
    <div class="row">
      <div class="bloc-trie col-2">
        <form class="formulaire-inscription" action="" method="get">
          <label for="" class="label-formulaire"> Trier par :</label>
          <select id="liste-deroulante" class="liste-deroulante">
            <option>Prix</option>
            <option>Distance +</option>
            <option>Distance -</option>
          </select>

          <label for="" class="label-formulaire"> Commerces :</label>
          <select id="liste-deroulante" class="liste-deroulante">
            <option>Lille</option>
            <option>Amiens</option>
            <option>Douai</option>
          </select>
          <div class="bloc-checkbox">
            <input  id="checkbox" class="checkbox" type="checkbox">
            <label class="label-checkbox" for="scales">Tous</label>
          </div>

          <p class="titre-avancee col-12">Recherche Avancée <i class="fas fa-angle-down"></i></p>
          <div class="bloc-filtre-regime">
            <p class="titre-filtre-regime">Régimes Alimentaires</p>
            <div class="bloc-checkbox-regime">
              <input  id="checkbox-regime" class="checkbox-regime" type="checkbox">
              <label class="label-regime" for="scales">Végétarien</label>
            </div>
            <div class="bloc-checkbox-regime">
              <input  id="checkbox-regime" class="checkbox-regime" type="checkbox">
              <label class="label-regime" for="scales">Végétalien</label>
            </div>
            <div class="bloc-checkbox-regime">
              <input  id="checkbox-regime" class="checkbox-regime" type="checkbox">
              <label class="label-regime" for="scales">Vegan</label>
            </div>
            <div class="bloc-checkbox-regime">
              <input  id="checkbox-regime" class="checkbox-regime" type="checkbox">
              <label class="label-regime" for="scales">Sans-gluten</label>
            </div>
            <div class="bloc-checkbox-regime">
              <input  id="checkbox-regime" class="checkbox-regime" type="checkbox">
              <label class="label-regime" for="scales">Sportif</label>
            </div>
            <div class="bloc-checkbox-regime">
              <input  id="checkbox-regime" class="checkbox-regime" type="checkbox">
              <label class="label-regime" for="scales">Méditerranéen</label>
            </div>
            <div class="bloc-checkbox-regime">
              <input  id="checkbox-regime" class="checkbox-regime" type="checkbox">
              <label class="label-regime" for="scales">Détox</label>
            </div>
            <div class="bloc-checkbox-regime">
              <input  id="checkbox-regime" class="checkbox-regime" type="checkbox">
              <label class="label-regime" for="scales">Anti-cholestérol</label>
            </div>
            <div class="bloc-checkbox-regime">
              <input  id="checkbox-regime" class="checkbox-regime" type="checkbox">
              <label class="label-regime" for="scales">Anti-diabéte</label>
            </div>
            <div class="bloc-checkbox-regime">
              <input  id="checkbox-regime" class="checkbox-regime" type="checkbox">
              <label class="label-regime" for="scales">Sans sel</label>
            </div>
          </div>

          <div class="bloc-filtre-allergene">
            <p class="titre-filtre-allergene">Allergénes</p>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Gluten</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Crustacés</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-regime" for="scales">Oeufs</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Poissons</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Arachides</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Soja</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Lait</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Fruits à coques</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Céleri</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Moutarde</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Sésame</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Sulfites</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Lupin</label>
            </div>
            <div class="bloc-checkbox-allergene">
              <input  id="checkbox-allergene" class="checkbox-allergene" type="checkbox">
              <label class="label-allergene" for="scales">Mollusques</label>
            </div>
          </div>
        </form>
      </div>


      <div class="bloc-affichage col-10">

        <app-product-template-merchant-view  *ngFor="let pt of productTemplates" [productTemplate]="pt" ></app-product-template-merchant-view>


        <div class="bouton-ajouter" class="cercle-plus" >
          <span id ="" class="plus" [routerLink]="'merchant/productTemplate/addOrUpdate'" ><i class="fas fa-plus"></i>Ajouter une nouvelle fiche produit</span>
        </div>


        <div class="bloc-pagination col-12">
          <div class="pagination">
            <a href="">
              <i class="fas fa-angle-double-left"></i>
            </a>
            <a href="">
              <i class="fas fa-angle-left"></i>
            </a>
            <p class="text-page">page :</p>
            <a href="">
              <div class="cercle-element">
                <p class="elements-pagination">1</p>
              </div>
            </a>
            <a href="">
              <div class="cercle-element">
                <p class="elements-pagination">2</p>
              </div>
            </a>
            <a href="">
              <div class="cercle-element">
                <p class="elements-pagination">3</p>
              </div>
            </a>
            <a href="">
              <div class="cercle-element">
                <p class="elements-pagination">4</p>
              </div>
            </a>
            <a href="">
              <i class="fas fa-angle-right"></i>
            </a>
            <a href="">
              <i class="fas fa-angle-double-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
