





/* BOUTON-UP */

.fond-up {
  background-color: var(--couleurBlanc);
}

.bouton-up {
  width: 60px;
  height: 60px;
  border-radius: 20% 2%;
  background-color: var(--couleurNoir);
  right: 2%;
  bottom: 2%;
  -webkit-box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, .1);
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, .1);
  position: absolute;
  cursor: pointer;
}

.fa-chevron-up {
  font-size: 2em;
  color: var(--couleurBlanc);
  margin-left: 50%;
  margin-top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
