



/* SECTION -> Bloc Détails Commerce */

.hidden {
  display: none;
}


.bloc-ouverture-commerce {
  margin-top: 70px;
  background-color: var(--couleurBlancCreme);
  display: block;
  box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.15);
}

.img-vitrine {
  height: 400px;
  background-color: var(--couleurGrisClair);
  margin-top: 15px;
}

.detail-commerce {
  display: flex;
}

.bloc-information-commerce {
  background-color: var(--couleurNoir);

}

.nom-commerce {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  color: var(--couleurBlancCreme);
  text-align: center;
  padding-top: 50px;
}

.rue-commerce {
  font-family: 'roboto', sans-serif;
  font-size: 0.85em;
  font-weight: 600;
  font-style: italic;
  color: var(--couleurBlancCreme);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail-ouverture {
  font-family: 'roboto', sans-serif;
  font-size: 0.85em;
  font-weight: 600;
  color: var(--couleurNoir);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.detail-horaires {
  font-family: 'roboto', sans-serif;
  font-size: 0.90em;
  font-weight: 600;
  color: var(--couleurNoir);
  text-align: center;
  margin-top: 5px;
  margin-bottom: 7px;
}

.details-fermer {
  font-family: 'roboto', sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  color: var(--couleurRougeIncorrect);
  font-style: italic;
}

.italic-horaire {
  font-family: 'roboto', sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  color: var(--couleurNoir);
  font-style: italic;
}

.bloc-ouverture {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 55px;
}

.bouton-ouverture {
  width: 185px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--couleurNoir);
  background: var(--couleurVertCorrect);
  box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.3);
  border: 2px solid var(--couleurBlancCreme);
  border-radius: 28px;
  padding: 14px 20px 14px 20px;
  margin-left: 32%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.bouton-ouverture:hover {
  color: var(--couleurBlancCreme);
  background: var(--couleurRougeIncorrect);
  border: 2px solid var(--couleurBlancCreme);
  border-radius: 28px;
}

.bloc-information-horaire {
  padding-top: 30px;
}

