



<section class="section-inscription">
  <div class="bloc-formulaire-inscription">
    <div class="bloc-titre-inscription">
      <h1 class="titre-inscription">// Modification de mot de passe</h1>
      <br>
      <br>
      <p class="texte-inscription col-8">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum</p>
      <br>
    </div>

    <form class="formulaire-inscription" [formGroup]="form1" (submit)="onSubmit()" >

      <label class="label-formulaire"><i class="fas fa-asterisk"> </i> Mot de Passe</label>
      <input formControlName="password" name="password" class="mdp" type="password" required>
      <span class="text-danger" *ngIf="controlPassword(); let message">{{message}}</span>

      <label class="label-formulaire"><i class="fas fa-asterisk"></i> Confirmation Mot de Passe</label>
      <input formControlName="confirm" name="confirm" class="confirmation" type="password" required>
      <span class="text-danger" *ngIf="controlPasswordConfirm(); let message">{{message}}</span>

      <button id="bt_signin_submit" class="bouton-inscription" type="submit" [disabled]="form1.invalid" >MODIFIER</button>
    </form>
  </div>
</section>

