


<section>
    <div class="diaporama">
       <img id="image" class="image-diaporama" src="assets/img/diaporama/boulangerie3.jpg" alt="Photo d'un commerce, une boulangerie">
       <div>
         <p id="slogan" class="slogan">" La Solution Contre Le Gaspillage Alimentaire "</p>
         <p class="phrase-slogan">Inscris-toi des maintenant pour profiter des offres de nos commerces partenaires.</p>
       </div>
       <ul class="bouton-diaporama">
           <li id="arrow-left" class="arrow-left"><i class="fas fa-caret-left"></i></li>
           <li id="play-pause" class="play-pause">
               <i id="pause" class="fas fa-pause"></i>
               <i id="play" class="fas fa-play"></i>
           </li>
           <li id="arrow-right" class="arrow-right"><i class="fas fa-caret-right"></i></li>
       </ul>
    </div>
</section>


<section class="section-concept">
  <div class="container col-12">
    <div class="row">
         <div class="fond-texte">
            <h1 class="titre">// NOTRE CONCEPT</h1>
               <br>
               <br>
               <p class="texte col-8"> Les chiffres parlent d’eux-mêmes, <span class="phrase-cle2"> le gaspillage alimentaire représente 30 kg par personne </span> et par an et <span class="phrase-cle2"> 432 000 tonnes de nourriture gaspillée par la restauration (collective et commerciale).</span>  Face à ce constat nous avons décider d’agir et de créer une solution pour promouvoir l’anti-gaspillage.
                 <span class="nom-app">No Gâchis</span>  met en relation les particuliers et commerçants dans une optique <span class="phrase-cle2">« gagnant gagnant » </span>. Nous proposons une vitrine pour les commençants en leur garantissant la mise en avant des produits alimentaires invendus auprès de notre communauté de manière simple et rapide. Nous offrons à notre communauté un moyen de faire des économies en réservant les produits du jour invendus à prix réduit tout en permettant à nos commerçants partenaires de réduire le gaspillage.</p>
               <br>
               <p class="phrase-cle"><span class="quote"><i class="fas fa-quote-left"></i></span> Le gaspillage alimentaire représente 30 kg par personne et par an. <span class="quote"><i class="fas fa-quote-right"></i></span></p>
               <br>
           <p class="texte col-8">Nous nous engageons à mettre en relation les différents acteurs au niveau local afin de lutter efficacement contre le gaspillage alimentaire. Dans cette optique, <span class="nom-app">No Gâchis</span> permet à nos associations partenaires de réserver des denrées alimentaires consommables invendus auprès des commerçants de notre réseaux.</p>
               <br>
               <br>
         </div>
     </div>
   </div>
</section>

<section class="section-offre">
  <div class="container">
    <div class="row">
      <h3 class="titre-offre col-12">// une offre adaptée pour tous !</h3>
      <div class="bloc-offre col-12">
        <article class="particulier col-3">
          <a href="">
            <figure>
              <figcaption>
                <h4 class="titre-particulier">Particulier</h4>
                <p class="texte-particulier"> Inscrivez-vous et profitez des dernières offres de nos partenaires.</p>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="commercant col-3 offset-1">
          <figure >
            <figcaption>
              <h4 class="titre-commercant">Commerçant</h4>
              <p class="texte-commercant"> Partagez facilement et rapidement vos produits invendus et vos offres.</p>
            </figcaption>
          </figure>
        </article>

        <article class="association col-3 offset-1">
          <figure >
            <figcaption>
              <h4 class="titre-association">Association</h4>
              <p class="texte-association"> Inscrivez-vous pour récupéré les invendus de nos commerces partenaires.</p>
            </figcaption>
          </figure>
        </article>
      </div>
    </div>
  </div>
</section>


<section class="section-avis">
   <div class="container col-12">
      <div class="row">
        <div class="bloc-avis">
           <div class="bloc-avatar">
                  <div class="cercle-avatar">
                      <img class="avatar" src="assets/img/profil/profil.png" alt="">
                  </div>
                  <p class="texte-avis">" Un moyen efficace pour découvrir de nouveaux produits à petits prix tout en faisant une bonne action. "</p>
                  <div class="note">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
            </div>
        </div>
      </div>
   </div>
</section>

<section>
   <div class="container">
      <div class="row">
        <div class="bloc-confiance col-12">
           <h3 class="titre-confiance">// Ils nous font confiance</h3>
          <p class="texte-confiance"> De nombreux commerçants nous accordent leur confiance pour atteindre l'objectif <span class="span-zero">"zero gaspillage"</span>.
                                       Nous nous engageons a leurs cotés dans ce combat pour reduire au maximun le gaspillage alimentaire."
           </p>
        </div>

        <div class="bloc-logo">
           <img class="logo" src="assets/img/commerce/basilic.png" alt="Basilic">
           <img class="logo" src="assets/img/commerce/subways.jpg" alt="Subways">
           <img class="logo" src="assets/img/commerce/daily-juicery.png" alt="Daily Juicery">
           <img class="logo" src="assets/img/commerce/boulangerie-mathieu.jpeg" alt="Boulangerie Mathieu">
        </div>
      </div>
   </div>
</section>

<section  class="section-trouver">
   <div class="container">
      <div class="row">
        <div class="bloc-trouver col-12">
           <div class="effet-trouver">
             <h3 class="titre-trouver">// Ou nous trouver ?</h3>
             <p class="texte-trouver">Cliquez sur "savoir plus" afin de découvrir les commerçant et associations partenaires de notre solution anti-gaspillage.</p>
           </div>
           <a href=findUs><div class="bouton-savoir-plus">EN SAVOIR +</div></a>
        </div>
      </div>
   </div>
</section>




           <!-- BOUTON UP -->
<div class="fond-up">
   <div id="bouton-up" class="bouton-up">
       <i class="fas fa-chevron-up"></i>
   </div>
</div>
