


<section>
    <div class="diaporama">
       <img id="image" class="image-diaporama" src="assets/img/diaporama/boulangerie3.jpg" alt="Photo d'un commerce, une boulangerie">
       <div id="slogan" class="slogan">" Notre Solution Contre Le Gaspillage Alimentaire "</div>
       <ul class="bouton-diaporama">
           <li id="arrow-left" class="arrow-left"><i class="fas fa-caret-left"></i></li>
           <li id="play-pause" class="play-pause">
               <i id="pause" class="fas fa-pause"></i>
               <i id="play" class="fas fa-play"></i>
           </li>
           <li id="arrow-right" class="arrow-right"><i class="fas fa-caret-right"></i></li>
       </ul>
    </div>
</section>


<section class="section-concept">
  <div class="container col-12">
    <div class="row">
         <div class="fond-texte">
            <h1 class="titre">// NOTRE CONCEPT</h1>
               <br>
               <br>
                <p class="texte col-8">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum quemquam ad hanc accusationem fuisse, cui, utrum vellet, liceret, nec, cum descendisset, quicquam habiturum spei fuisse, nisi alicuius intolerabili libidine et nimis acerbo odio niteretur. Sed ego Atratino, humanissimo atque optimo adulescenti meo necessario, ignosco, qui habet excusationem vel pietatis vel necessitatis vel aetatis. Si voluit accusare, pietati tribuo, si iussus est, necessitati, si speravit aliquid, pueritiae. Ceteris non modo nihil ignoscendum, sed etiam acriter est resistendum.</p>
               <br>
               <br>
               <br>
               <p class="phrase-cle"><span class="chiffre"><i class="fas fa-quote-left"></i></span> Le gaspillage alimentaire représente 30 kg par personne et par an. <span class="chiffre"><i class="fas fa-quote-right"></i></span></p>
               <br>
               <br>
               <br>
               <p class="texte col-8">
               Nisi mihi Phaedrum, inquam, tu mentitum aut Zenonem putas, quorum utrumque audivi, cum mihi nihil sane praeter sedulitatem probarent, omnes mihi Epicuri sententiae satis notae sunt. atque eos, quos nominavi, cum Attico nostro frequenter audivi, cum miraretur ille quidem utrumque, Phaedrum autem etiam amaret, cotidieque inter nos ea, quae audiebamus, conferebamus, neque erat umquam controversia, quid ego intellegerem, sed quid probarem.
               </p>
         </div>
     </div>
   </div>
</section>

<section class="section-offre">
  <div class="container">
    <div class="row">
      <h3 class="titre-offre col-12">// une offre adaptée pour tous !</h3>
      <div class="bloc-offre col-12">
        <article class="particulier col-3">
          <a href="">
            <figure>
              <figcaption>
                <h4 class="titre-particulier">Particulier</h4>
                <p class="texte-particulier"> Inscrivez-vous et profitez des dernières offres de nos partenaires.</p>
              </figcaption>
            </figure>
          </a>
        </article>

        <article class="commercant col-3 offset-1">
          <figure >
            <figcaption>
              <h4 class="titre-commercant">Commerçant</h4>
              <p class="texte-commercant"> Partagez facilement et rapidement vos produits invendus et vos offres.</p>
            </figcaption>
          </figure>
        </article>

        <article class="association col-3 offset-1">
          <figure >
            <figcaption>
              <h4 class="titre-association">Association</h4>
              <p class="texte-association"> Inscrivez-vous pour récupéré les invendus de nos commerces partenaires.</p>
            </figcaption>
          </figure>
        </article>
      </div>
    </div>
  </div>
</section>


<section class="section-avis">
   <div class="container col-12">
      <div class="row">
        <div class="bloc-avis">
           <div class="bloc-avatar">
                  <div class="cercle-avatar">
                      <img class="avatar" src="assets/img/profil/profil.png" alt="">
                  </div>
                  <p class="texte-avis">" Un moyen efficace pour découvrir de nouveaux produits à petits prix tout en faisant une bonne action. "</p>
                  <div class="note">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                  </div>
            </div>
        </div>
      </div>
   </div>
</section>

<section>
   <div class="container">
      <div class="row">
        <div class="bloc-confiance col-12">
           <h3 class="titre-confiance">// Ils nous font confiance</h3>
          <p class="texte-confiance"> De nombreux commerçants nous accordent leur confiance pour atteindre l'objectif <span class="span-zero">"zero gaspillage"</span>.
                                       Nous nous engageons a leurs cotés dans ce combat pour reduire au maximun le gaspillage alimentaire."
           </p>
        </div>

        <div class="bloc-logo">
           <img class="logo" src="assets/img/commerce/basilic.png" alt="Basilic">
           <img class="logo" src="assets/img/commerce/freshway.jpg" alt="Freshway">
           <img class="logo" src="assets/img/commerce/daily-juicery.png" alt="Daily Juicery">
           <img class="logo" src="assets/img/commerce/boulangerie-mathieu.jpeg" alt="Boulangerie Mathieu">
        </div>
      </div>
   </div>
</section>

<section  class="section-trouver">
   <div class="container">
      <div class="row">
        <div class="bloc-trouver col-12">
           <div class="effet-trouver">
             <h3 class="titre-trouver">// Ou nous trouver ?</h3>
             <p class="texte-trouver">Cliquez sur "savoir plus" afin de découvrir les commerçant et associations partenaires de notre solution anti-gaspillage.</p>
           </div>
           <a href=findUs><div class="bouton-savoir-plus">EN SAVOIR +</div></a>
        </div>
      </div>
   </div>
</section>




           <!-- BOUTON UP -->
<div class="fond-up">
   <div id="bouton-up" class="bouton-up">
       <i class="fas fa-chevron-up"></i>
   </div>
</div>
