<!-- SECTION -> Désactivation -->
<section class="section-desactivation">
  <div class="bloc-formulaire-desactivation">
    <div class="bloc-titre-desactivation">
      <h1 class="titre-desactivation"><i class="fas fa-ban"></i> // DESACTIVATION COMPTE</h1>
      <br>
      <br>
      <p class="texte-desactivation col-6"><i class="fas fa-exclamation-circle"></i> Attention, la désactivation du compte entraîne la perte de toutes vos préférences et abonnements.</p>
    </div>

    <form class="formulaire-desactivation" action="" method="post">
       <label for="Saisissez DESACTIVER" class="label-formulaire"><i class="fas fa-asterisk"></i> Saisissez DESACTIVER</label>
      <input id="desactivation" class="desactivation" type="text" name="desactiver" size="10" >
      <p class="texte-desactivation col-6">Pour confirmer, saisissez "DESACTIVER" en majuscule et cliquez sur désactiver.</p>

      <a href=""><div id ="bouton-desactivation" class="bouton-desactivation">Désactiver</div></a>
    </form>
  </div>
</section>


