


<section class="section-connexion">
    <div class="bloc-formulaire-connexion">
        <div class="bloc-titre-connexion">
            <h1 class="titre-connexion">// CONNEXION COMPTE</h1>
            <br>
            <br>
            <p class="texte-connexion col-8">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum</p>
            <br>
        </div>

        <form class="formulaire-connexion" [formGroup]="form1" (submit)="onSubmit()" >

          <label class="label-formulaire"><i class="fas fa-asterisk" ></i> Pseudo</label>
          <input formControlName="name" name="name" class="email" type="text" placeholder="@Email ou Pseudo" required>
          <span class="text-danger" *ngIf="controlName(); let message">{{message}}</span>

          <label class="label-formulaire"><i class="fas fa-asterisk"> </i> Mot de Passe</label>
          <input formControlName="password" name="password" class="mdp" type="password" required>
          <span class="text-danger" *ngIf="controlPassword(); let message">{{message}}</span>

          <button id ="bt_login_submit" class="bouton-animation" type="submit" [disabled]="form1.invalid" >CONNEXION</button>

          <a routerLink="/signin" class="lien-compte"><p>Créer un compte</p></a>
          <a routerLink="/passwordRescue" class="lien-compte"><p>Mot de passe oublié</p></a>
          <p *ngIf="userEmailNotValidate!=null" >Votre pseudo et mot de passe sont bons mais votre email n'est pas validée. <br>Un email de validation vous a été envoyé précédement (vérifiez dans les courriers indésirables au besoin)<a (click)="sendEmailValidation()" >Cliquez sur ce lien pour demande l'envois d'un nouveau mail</a></p>
        </form>
    </div>
</section>
