


                 /* CONNEXION */

      .titre-connexion {
           font-family: 'Ubuntu', sans-serif;
           font-size: 1.6em;
           font-weight: 600;
           color: var(--couleurNoir);
           text-align: center;
           padding-top: 20px;
      }

      .texte-connexion {
           font-family: 'roboto', sans-serif;
           text-align: center;
           font-size: 0.90em;
           font-weight: 400;
           color: var(--couleurBNoir);
           margin-left: 50%;
           padding-bottom: 30px;
           -webkit-transform: translate(-50%,0);
           transform: translate(-50%,0);
      }


      .section-connexion {
          padding-top: 30px;
          background-image: url(/assets/img/pattern/funky-lines2.jpg);
      }

      .bloc-formulaire-connexion {
          transform: translate(-50%);
          margin-left: 50%;
          padding-top: 80px;
          padding-bottom: 80px;
      }

      .formulaire-connexion {
          width: 400;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 40px;
          -webkit-box-shadow: -5px 25px 74px -19px rgba(0,0,0,0.34);
          -moz-box-shadow: -5px 25px 74px -19px rgba(0,0,0,0.34);
          box-shadow: -5px 25px 74px -19px rgba(0,0,0,0.34);
          padding-top: 80px;
          padding-bottom: 80px;
      }

      .fa-asterisk {
          font-size: 0.7em;
          color: var(--couleurVerte);
      }

      .label-formulaire {
          width: 300px;
          font-family: 'roboto', sans-serif;
          font-size: 0.9em;
          font-weight: 600;
          color: var(--couleurNoir);
          margin-top: 15px;
          margin-bottom: 2px;
          margin-left: 50%;
          transform: translate(-50%);
      }


      .email {
          width: 300px;
          height: 30px;
          font-family: 'roboto', sans-serif;
          font-size: 1em;
          font-weight: 400;
          color: var(--couleurNoir);
          border: 1.5px solid #000;
          border-radius: 5px;
          margin-left: 50%;
          padding-left: 10px;
          transform: translate(-50%);
          display: block;
      }

       .text-danger {
         font-size: 0.85em;
         margin-left: 250px;
         display: block;
       }

      .mdp {
          width: 300px;
          height: 30px;
          font-family: 'roboto', sans-serif;
          font-size: 1em;
          font-weight: 400;
          color: var(--couleurNoir);
          border: 1.5px solid #000;
          border-radius: 5px;
          margin-left: 50%;
          padding-left: 10px;
          transform: translate(-50%);
          display: block;
      }

      select:focus {
        background-color: var(--couleurVerte);
        border: none;
      }

      input[type=text]:focus {
        background-color: var(--couleurVerte);
        border: none;
      }

      input[type=password]:focus {
        background-color: var(--couleurVerte);
        border: none;
      }






      @-webkit-keyframes effet-vertical {
           16.65% {
           -webkit-transform: translateY(8px);
           transform: translateY(8px);
          }
           33.3% {
           -webkit-transform: translateY(-6px);
           transform: translateY(-6px);
          }
           49.95% {
           -webkit-transform: translateY(4px);
           transform: translateY(4px);
          }
           66.6% {
           -webkit-transform: translateY(-2px);
           transform: translateY(-2px);
          }
           83.25% {
           -webkit-transform: translateY(1px);
           transform: translateY(1px);
          }
           100% {
           -webkit-transform: translateY(0);
           transform: translateY(0);
          }
      }
       @keyframes effet-vertical {
           16.65% {
           -webkit-transform: translateY(8px);
           transform: translateY(8px);
          }
           33.3% {
           -webkit-transform: translateY(-6px);
           transform: translateY(-6px);
          }
           49.95% {
           -webkit-transform: translateY(4px);
           transform: translateY(4px);
          }
           66.6% {
           -webkit-transform: translateY(-2px);
           transform: translateY(-2px);
          }
           83.25% {
           -webkit-transform: translateY(1px);
           transform: translateY(1px);
          }
           100% {
           -webkit-transform: translateY(0);
           transform: translateY(0);
          }
      }

      .bouton-animation {
          width: 180px;
          font-family: sans-serif;
          font-weight: 600;
          text-transform: uppercase;
          text-align: center;
          color: var(--couleurBlancCreme);
          background: rgba(255, 82, 47, 1);
          background: var(--couleurDegradeVert);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff522f', endColorstr='#cc02cc', GradientType=1 );
          border: none;
          border-radius: 28px;
          font-size: 20px;
          margin-top: 50px;
          margin-bottom: 55px;
          margin-left: 38%;
          padding: 12px 20px 12px 20px;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          -webkit-box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.5);
          box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.3);
          -webkit-transition: all 1s ease-out;
          transition: all 1s ease-out;
          cursor: pointer;
      }

      .bouton-animation:hover, .bouton-animation:focus, .bouton-animation:active {
          background: rgba(204,2,204,1);
          background: var(--couleurDegradeVert);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc02cc', endColorstr='#ff522f', GradientType=1 );
          -webkit-box-shadow: 0 21px 6px -12px rgba(0, 0, 0, 0.2);
          box-shadow: 0 21px 6px -12px rgba(0, 0, 0, 0.2);
          -webkit-animation-name: effet-vertical;
          animation-name: effet-vertical;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
          -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
      }

      .bouton-animation:disabled:hover {
          -webkit-animation-name: none;
          animation-name: none;
      }

      .avertissement-connexion {
          font-family: 'roboto', sans-serif;
          font-size: 0.9em;
          font-weight: 400;
          font-style: italic;
          text-align: center;
          margin-top: 30px;
          margin-bottom: 40px;
      }

      .lien-compte {
          font-family: 'roboto', sans-serif;
          font-size: 0.90em;
          font-weight: 400;
          text-decoration: underline !important; /* Important pour forcer l'Underline VS Reset */
          color: var(--couleurNoir);
          text-align: center;
      }

      .lien-compte:hover {
          font-family: 'roboto', sans-serif;
          font-weight: 400;
          text-align: center;
          color: var(--couleurVerte);
      }






