




<div class="bloc-affichage-produit col-12">
  <div class="img-affichage col-6">



    <article>
      <figure class="work-img no-gutters">
        <a [routerLink]="'/productSheet/' + productTemplate.id"><img class="img col-12 no-gutters" src="/assets/img/produit/{{productTemplate.image}}" alt="image du produit"></a>
        <figcaption>
          <div class="fond-filtre" ></div>
          <div class="note">
            <i class="fas fa-star"></i>  <!-- Todo -->
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </figcaption>
      </figure>
    </article>

  </div>

  <div class="informations-affichage col-6">
    <h5>- <a [routerLink]="'/productSheet/' + productTemplate.id">{{productTemplate.name}}</a> - <i class="fas fa-pencil-alt" [routerLink]="'/merchant/productTemplate/addOrUpdate/' + productTemplate.id"></i></h5>

    <p class="composition-affichage">{{productTemplate.description}}</p>
    <p class="key-allergene"> > Sans-gluten > Sportif </p> <!-- todo -->

    <div class="Lieu-affichage col-8">
      <select id="liste-mois" class="liste-mois col-12">
        <option>Promotion</option> <!-- todo revoir un peu ca -->
        <option>Invendu</option>
      </select>
    </div>

    <div class="bloc-prix-affichage col-12">
      <div class="affichage col-6">
        <div class="prix-affichage">{{productTemplate.salePrice}} €</div>
        <div class="bloc-prix-barre">
          <div class="prix-barre-affichage"><span class="prix-barre">{{productTemplate.price}} €</span></div>
          <div class="trait"></div>
        </div>
      </div>
      <div class="bloc-quantite-produit col-6">
        <input class="quantite-produit" type="text" name="quantite" placeholder="1" >
        <div class="plus-moins">
          <i class="fas fa-plus-circle"></i>
          <i class="fas fa-minus-circle"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="bloc-panier">
    <a href=""><div id ="bouton-panier" class="bouton-panier">DUPLIQUER</div></a>
  </div>
</div>
