
<app-command-steps></app-command-steps>

<!-- SECTION -> Panier-commande -->
<section class="section-resumer-commande">
  <div class="container">
    <div class="row">
      <div class="bloc-titre-commandes">
        <h2 class="titre-commandes"><i class="fas fa-cube"></i> / PANIER </h2>
        <br>
        <br>
        <p class="texte-commandes">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis,  iudices, nec descensurum</p>
        <br>
        <div class="bloc-commerces">
          <div class="onglet-commande col-12">
            <p class="titre-commerce2">Commerces<i class="fas fa-sort-down"></i></p>
          </div>

            <app-cart-by-commerce *ngFor="let scbc of shoppingCart.shoppingCartByCommerces" [shoppingCartByCommerce]="scbc"></app-cart-by-commerce>

          <div class="time">
            <p class="texte-time"><i class="fas fa-exclamation-circle"></i> Veuillez récupérer vos produits avant : 18h00</p>
          </div>
        </div>


        <div class="bloc-prix-affichage col-12">
          <div class="text-total">Total Panier :</div>
          <div class="prix-affichage">114,90 €</div>
        </div>

        <div class="bloc-bouton-commande col-12">
          <div class="bloc-payer">
            <a href="paiement.html"><div id ="bouton-payer" class="bouton-payer">PAYER</div></a>
          </div>
        </div>
      </div>



      <div class="bloc-produits-expires">
        <div class="onglet-commande col-12">
          <p class="titre-commerce2">Produits Expirés<i class="fas fa-sort-down"></i></p>
        </div>
        <div class="bloc-commerce-commande">
          <table class="table-commande col-12">
            <thead>
              <tr class="tr-titre">
                <th class="td-titre col-3">Produits</th>
                <th class="td-titre col-3">Prix</th>
                <th class="td-titre col-">Quantité</th>
                <th class="td-titre col-"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr">
                <td class="td-produit"><img class=" img" src="/assets/img/produit/croissant-mathieu.jpg" alt="">Croissant</td>
                <td class="td">100.10€</td>
                <td class="td">02</td>
                <td class="td"><i class="fas fa-shopping-bag"></i> </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

