


<div class="background"> <!-- Background => Dévoilement du footer -->          
  
  <app-header></app-header>

  <app-welcome></app-welcome>
  
  <app-sign-in></app-sign-in>
  <app-email-validation></app-email-validation>
  <app-login></app-login>
  <app-password-rescue></app-password-rescue>
  
  <app-welcome-individual></app-welcome-individual>

  <footer>
    <app-footer></app-footer>
  </footer>
  
  <!-- here, we put everything front of the page -->
  <app-social-box></app-social-box>
  <app-test></app-test>

</div>

