<section class="section-bonjour-compte">
  <div class="container">
    <div class="row">
      <div class="bloc-bonjour-compte col-12">
        <div class="bloc-avatar">
          <img class="img" src="assets/img/profil/profil.png" alt="photo de l'utilisateur">
        </div>
        <div class="bloc-bonjour">
          <h2>Bonjour John Doe</h2>
          <p class="message-bonjour"><i class="fas fa-quote-left"></i> Bienvenue sur votre compte. Retrouvez toutes vos informations personnelles et vos préférences. <i class="fas fa-quote-right"></i>
          </p>
        </div>
      </div>

      <div class="grand-bloc-onglets">
        <div class="bloc-onglet">
          <a href="myProfile">
            <div class="onglet">
              <p class="nom-onglet">
                <i class="fas fa-user"></i> Profil
              </p>
            </div>
          </a>
          <a href="myPreferences">
            <div class="onglet2">
              <p class="nom-onglet">
                <i class="fas fa-cog"></i> Préférences
              </p>
            </div>
          </a>
          <a href="myOrders">
            <div class="onglet3">
              <p class="nom-commandes">
                <i class="fas fa-cube"></i> Commandes
              </p>
            </div>
          </a>
          <a href="myComments">
            <div class="onglet4">
              <p class="nom-commentaires">
                <i class="fas fa-comments"></i> Commentaires
              </p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="section-edition-profil">
  <div class="container">
    <div class="row">
      <h1 class="titre-commentaires col-12"><i class="fas fa-cube"></i> / Commandes En Cours</h1>
      <div class="bloc-titre-commandes">
        <p class="texte-commandes">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis,  iudices, nec descensurum</p>
        <br>

        <div class="bloc-commerce-commande">
          <h3 class="titre-commerce">- Boulangerie Mathieu -</h3>
          <table class="table-commande col-12">
            <tr class="tr-titre">
              <td class="td-titre col-4">Produits</td>
              <td class="td-titre col-3">Prix</td>
              <td class="td-titre col-2">Quantité</td>
              <td class="td-titre col-2">Total</td>
            </tr>
            <tr class="tr">
              <td class="td-produits col-4">Croissant</td>
              <td class="td col-3">1.10€</td>
              <td class="td col-3">02</td>
              <td class="td col-2">2.20€</td>
            </tr>
          </table>
        </div>
        <div class="bloc-commerce-commande">
          <h3 class="titre-commerce">- Daily Juicery -</h3>
          <table class="table-commande col-12">
            <tr class="tr-titre">
              <td class="td-titre col-4">Produits</td>
              <td class="td-titre col-3">Prix</td>
              <td class="td-titre col-3">Quantité</td>
              <td class="td-titre col-2">Total</td>
            </tr>
            <tr class="tr">
              <td class="td-produits col-4">ROOTS 1.2, Jus détox 100% naturel</td>
              <td class="td col-3">7.00€</td>
              <td class="td col-3">01</td>
              <td class="td col-2">7.00€</td>
            </tr>
            <tr class="tr">
              <td class="td-produits col-4">GREEN 5.0, Jus détox 100% naturel</td>
              <td class="td col-3">7.00€</td>
              <td class="td col-3">02</td>
              <td class="td col-2">14.00€</td>
            </tr>
          </table>
        </div>
      </div>



      <h1 class="titre-commentaires2 col-12"><i class="fas fa-cube"></i> / Anciennes Commandes</h1>
      <div class="bloc-titre-commandes2">
        <p class="texte-commandes2">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis,  iudices, nec descensurum</p>
        <br>


        <div class="grand-bloc-commande col-10 offset-1">
          <div class="bloc-commerce-commande">
            <h5 class="col-8 offset-2">Commande effectuée le : <span class="date-commande">16/12/2019 à 12h00</span> </h5>
            <h3 class="titre-commerce">- Boulangerie Mathieu -</h3>
            <table class="table-commande col-12">
              <tr class="tr-titre">
                <td class="td-titre col-4">Produits</td>
                <td class="td-titre col-3">Prix</td>
                <td class="td-titre col-2">Quantité</td>
                <td class="td-titre col-2">Total</td>
              </tr>
              <tr class="tr">
                <td class="td-produits col-4">Croissant</td>
                <td class="td col-3">1.10€</td>
                <td class="td col-3">02</td>
                <td class="td col-2">2.20€</td>
              </tr>
            </table>
          </div>
          <div class="bloc-commerce-commande">
            <h3 class="titre-commerce">- Daily Juicery -</h3>
            <table class="table-commande col-12">
              <tr class="tr-titre">
                <td class="td-titre col-4">Produits</td>
                <td class="td-titre col-3">Prix</td>
                <td class="td-titre col-3">Quantité</td>
                <td class="td-titre col-2">Total</td>
              </tr>
              <tr class="tr">
                <td class="td-produits col-4">ROOTS 1.2, Jus détox 100% naturel</td>
                <td class="td col-3">7.00€</td>
                <td class="td col-3">01</td>
                <td class="td col-2">7.00€</td>
              </tr>
              <tr class="tr">
                <td class="td-produits col-4">GREEN 5.0, Jus détox 100% naturel</td>
                <td class="td col-3">7.00€</td>
                <td class="td col-3">02</td>
                <td class="td col-2">14.00€</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="grand-bloc-commande col-10 offset-1">
          <div class="bloc-commerce-commande">
            <h5 class="col-8 offset-2">Commande effectuée le : <span class="date-commande">16/12/2019 à 12h00</span> </h5>
            <h3 class="titre-commerce">- Boulangerie Mathieu -</h3>
            <table class="table-commande col-12">
              <tr class="tr-titre">
                <td class="td-titre col-4">Produits</td>
                <td class="td-titre col-3">Prix</td>
                <td class="td-titre col-2">Quantité</td>
                <td class="td-titre col-2">Total</td>
              </tr>
              <tr class="tr">
                <td class="td-produits col-4">Croissant</td>
                <td class="td col-3">1.10€</td>
                <td class="td col-3">02</td>
                <td class="td col-2">2.20€</td>
              </tr>
            </table>
          </div>

          <div class="bloc-commerce-commande">
            <h3 class="titre-commerce">- Daily Juicery -</h3>
            <table class="table-commande col-12">
              <tr class="tr-titre">
                <td class="td-titre col-4">Produits</td>
                <td class="td-titre col-3">Prix</td>
                <td class="td-titre col-3">Quantité</td>
                <td class="td-titre col-2">Total</td>
              </tr>
              <tr class="tr">
                <td class="td-produits col-4">ROOTS 1.2, Jus détox 100% naturel</td>
                <td class="td col-3">7.00€</td>
                <td class="td col-3">01</td>
                <td class="td col-2">7.00€</td>
              </tr>
              <tr class="tr">
                <td class="td-produits col-4">GREEN 5.0, Jus détox 100% naturel</td>
                <td class="td col-3">7.00€</td>
                <td class="td col-3">02</td>
                <td class="td col-2">14.00€</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="bloc-envoyer col-12">
          <a href="#"><div id ="bouton-envoyer" class="bouton-envoyer"><i class="fas fa-plus"></i> DE COMMANDES</div></a>
        </div>
      </div>

      <div class="espace-bas"></div>
    </div>
  </div>
</section>
