



/* SECTION - Bonjour */

.bloc-bonjour-compte {
  background-color: var(--couleurGrisClair);
  border-bottom: 2px solid var(--couleurNoir);
  display: flex;
  margin-top: 55px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bloc-avatar {
  margin-left: 90px;
}

.img-bonjour {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.bloc-bonjour {
  margin-left: 40px;
  margin-top: 40px;
}

h2 {
  font-family: 'roboto', sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 10px;
}

.message-bonjour {
  font-family: 'roboto', sans-serif;
  font-size: 0.90em;
  font-weight: 400;
}

.fa-quote-left {
  background-color: var(--couleurRouge);
}

.fa-quote-right {
  background-color: var(--couleurRouge);
}




/* SECTION - Bonjour */

.grand-bloc-onglets {
  width: 100%;
  border-bottom: 1px solid var(--couleurNoir);
  background-color: var(--couleurRouge);
  padding-bottom: 30px;
}

.bloc-onglet {
  display: flex;
  margin-top: 30px;
  margin-left: 44%;
  transform: translate(-50%);
  box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.10);
}

.nom-onglet a {
  color: var(--couleurRouge);
}

.onglet {
  width: 200px;
  height: 45px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: var(--couleurRouge);
  border: 1px solid var(--couleurRouge);
  border-radius: 8px 00px 00px 8px;
  background-color: var(--couleurNoir);
  padding-top: 8px;
  cursor: pointer;
  opacity: 1;
}

.onglet2 {
  width: 200px;
  height: 45px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: var(--couleurRouge);
  border: 1px solid var(--couleurRouge);
  background-color: var(--couleurNoir);
  padding: 8px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  opacity: 1;
}

.onglet3 {
  width: 200px;
  height: 45px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: var(--couleurRouge);
  border: 1px solid var(--couleurRouge);
  background-color: var(--couleurNoir);
  padding-top: 8px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  opacity: 1;
}

.onglet4 {
  height: 45px;
  width: 200px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: var(--couleurRouge);
  border: 1px solid var(--couleurRouge);
  border-radius: 0px 8px 8px 0px;
  background-color: var(--couleurNoir);
  padding-top: 8px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
  opacity: 1;
}


