<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<section>
  <h2>Ajout d'une fiche produit :</h2>
  <form class="" [formGroup]="form1" (submit)="onSubmit()" >

    <label class="label-formulaire"><i class="fas fa-asterisk" ></i> Nom du produit :</label>
    <input formControlName="name" name="name" class="name" type="text" placeholder="Nom" required>
    <span class="text-danger" *ngIf="controlName(); let message">{{message}}</span>

    <label class="label-formulaire"><i class="fas fa-asterisk"></i> Description :</label>
    <input formControlName="description" name="description" class="description" type="text" placeholder="Description" required>
    <span class="text-danger" *ngIf="controlName(); let message">{{message}}</span>

    <label class="label-formulaire"><i class="fas fa-asterisk"></i> Prix</label>
    <input formControlName="price" name="price" class="price" type="text" placeholder="Prix" required>
    <!-- <span class="text-danger" *ngIf="controlPrice(); let message">{{message}}</span>-->

    <div class="bloc-checkbox3">
      <input formControlName="isWrapped" name="isWrapped" class="checkbox3" type="checkbox">
      <label class="label" >Produit emballé</label>
    </div>

    <button id ="bt_signin_submit" class="bouton-inscription" type="submit" [disabled]="form1.invalid" >Ajouter la fiche</button>
    <p *ngIf="form1.invalid" class="avertissement-inscription">* Veuillez remplir tous les champs pour valider la fiche.</p>
  </form >

</section>
