
/* LIST PRODUCT TEMPLATE POUR TEST */
.section-liste-produit {
  padding-top: 30px;
  background-image: url(/assets/img/pattern/funky-lines2.jpg);
}

.titre-fiche-produit {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  color: var(--couleurNoir);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

.formulaire-liste-produit {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  -webkit-box-shadow: -5px 25px 74px -19px rgba(0,0,0,0.34);
  -moz-box-shadow: -5px 25px 74px -19px rgba(0,0,0,0.34);
  box-shadow: -5px 25px 74px -19px rgba(0,0,0,0.34);
  padding-top: 80px;
  padding-bottom: 80px;
  margin-left: 50%;
  transform: translate(-50%);
}

.formulaire-inscription {
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.fa-asterisk {
  font-size: 0.7em;
  color: var(--couleurVerte);
}

.label-formulaire {
  width: 300px;
  font-family: 'roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: var(--couleurNoir);
  margin-bottom: 2px;
  margin-left: 50%;
  transform: translate(-50%);
}

.text-danger {
  margin-left: 31%;
  margin-bottom: 30px;
}

.name {
  width: 300px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--couleurNoir);
  border: 1.5px solid #000;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 50%;
  padding-left: 10px;
  transform: translate(-50%);
  display: block;
}

.description {
  width: 300px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--couleurNoir);
  border: 1.5px solid #000;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 50%;
  padding-left: 10px;
  transform: translate(-50%);
  display: block;
}

.price {
  width: 300px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--couleurNoir);
  border: 1.5px solid #000;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 50%;
  padding-left: 10px;
  transform: translate(-50%);
  display: block;
}

.confirmation {
  width: 300px;
  height: 30px;
  font-family: 'roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--couleurNoir);
  border: 1.5px solid #000;
  border-radius: 5px;
  margin-bottom: 40px;
  margin-left: 50%;
  padding-left: 10px;
  transform: translate(-50%);
  display: block;
}

.bloc-checkbox {
  font-family: 'roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
  margin-left: 30%;
  display: flex;
}

.checkbox {
  margin-right: 8px;
}

.bloc-checkbox2 {
  font-family: 'roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
  margin-left: 30%;
  display: flex;
}

.checkbox2 {
  margin-right: 8px;
}

.bloc-checkbox3 {
  font-family: 'roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  margin-left: 30%;
  margin-top: 30px;
  display: flex;
}

.checkbox3 {
  margin-right: 8px;
}

select:focus {
  background-color: var(--couleurVerte);
  border: none;
}

input[type=text]:focus {
  background-color: var(--couleurVerte);
  border: none;
}

input[type=password]:focus {
  background-color: var(--couleurVerte);
  border: none;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

input[type=checkbox] {
  -border-radius: 4px;
  height: 15px;
  width: 15px;
  background: #fff;
  border: 1px solid var(--couleurNoir);
}

input[type="checkbox"]:checked {
  background: var(--couleurVerte);
  position: relative;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}

@-webkit-keyframes effet-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes effet-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bouton-animation {
  width: 200px;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--couleurBlancCreme);
  background: rgba(255, 82, 47, 1);
  background: var(--couleurDegradeVert);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff522f', endColorstr='#cc02cc', GradientType=1 );
  border: none;
  border-radius: 28px;
  margin-top: 50px;
  margin-left: 37.5%;
  padding: 12px 20px 12px 20px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  cursor: pointer;
}

.bouton-animation:hover, .bouton-animation:focus, .bouton-animation:active {
  background: rgba(204,2,204,1);
  background: var(--couleurDegradeVert);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc02cc', endColorstr='#ff522f', GradientType=1 );
  -webkit-box-shadow: 0 21px 6px -12px rgba(0, 0, 0, 0.2);
  box-shadow: 0 21px 6px -12px rgba(0, 0, 0, 0.2);
  -webkit-animation-name: effet-vertical;
  animation-name: effet-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.bouton-animation:disabled:hover {
  -webkit-animation-name: none;
  animation-name: none;
}

.bouton-animation:disabled {
  filter: grayscale(1);
}

.bouton-animation:disabled:hover {
  -webkit-animation-name: none;
  animation-name: none;
}

.avertissement-liste-produit {
  font-family: 'roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
}


/* basé sur INSCRIPTION */




