

<div class="header_space"></div>

<div class="col-xs-12">
  <div *ngIf="listProductsTemplates">
    <table class="table table-bordered table-hover">
      <thead>
      <th>Id</th>
      <th>Name</th>
      <th>description</th>
      <th>externalCode</th>
      <th>isWrapped</th>
      <th>price</th>
    <!--  <th>salePrice</th>
      <th>saleTime</th>
      <th>unsoldTime</th>
      <th>timeControlStatus</th>
      <th>maxDurationCart</th>-->
      </thead>
      <tbody>
      <tr *ngFor="let pt of listProductsTemplates">
        <td>{{pt.id}} </td>
        <td>{{pt.name}}</td>
        <td>{{pt.description}}</td>
        <td>{{pt.externalCode}}</td>
        <td>{{pt.isWrapped}}</td>
        <td>{{pt.price}}</td>
       <!-- <td>{{pt.salePrice}}</td>
        <td>{{pt.saleTime}}</td>
        <td>{{pt.unsoldTime}}</td>
        <td>{{pt.timeControlStatus}}</td>
        <td>{{pt.maxDurationCart}}</td>-->

        <td><img src="{{listProductsTemplates.imageFilename}}" alt="avatar" class="img-thumbnail mx-auto d-block" style="width: 30%" /></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
