


<!-- TODO dupliquer et remplacer par product-template-individual-view et product-template-association-view (sans affichage de prix) -->



<div class="bloc-affichage col-10">
  <div class="bloc-affichage-produit col-12">
    <div class="img-affichage col-6 no-gutters">
      <article>
        <figure class="work-img no-gutters">
          <a [routerLink]="'/productSheet/' + productTemplate.id"><img class="img col-12" src="/assets/img/produit/{{productTemplate.image}}" alt="image du produit"></a>
          <figcaption>
            <div class="fond-filtre" ></div>
            <div class="note">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </figcaption>
        </figure>
      </article>

    </div>

    <div class="informations-affichage col-6">

      <!--
      <div class="commerce-affichage">
        <h4>Daily Juicery </h4>
        <p class="adresse-affichage"><i class="fas fa-location-arrow"></i> / 380 rue Léon Gambetta, 59000 LILLE </p>
        <p class="adresse-affichage"><span class="icones-affichage"><i class="fas fa-mobile-alt"> / </i> </span> 03 20 30 79 73 </p>
        <p class="adresse-affichage"><span class="icones-affichage"><i class="far fa-envelope"></i> / </span> thedailyjuicery@gmail.com </p>
      </div>
      -->

      <div *ngIf="commerces.length!=0"></div>
      <select class="liste-deroulante"  [(ngModel)]="currentCommerceIndex" >
        <option class="option" *ngFor="let c of commerces; index as i" [ngValue]="i" >{{c.name}} {{c.uniqueIdName}} - {{this.nbProductByCommerce[i]}} produits</option>
      </select>

      <h5>- <a [routerLink]="'/productSheet/' + productTemplate.id">{{productTemplate.name}}</a> -</h5>
      <p class="composition-affichage">{{productTemplate.description}}</p>
      <p class="key-allergene"> > Sans-gluten > Sportif </p>
      <div class="bloc-prix-affichage col-12">
        <div class="affichage col-6">
          <div class="prix-affichage">{{productTemplate.salePrice}} €</div>
          <div class="bloc-prix-barre">
            <div class="prix-barre-affichage">{{productTemplate.price}} €</div>
            <div class="trait"></div>
          </div>
        </div>
        <div class="bloc-quantite-produit col-6">
          <input [(ngModel)]="numberProductTemplate" class="quantite-produit" type="number" name="quantite" >
          <div class="plus-moins">
            <i (click)="numberProductTemplate = numberProductTemplate + 1" class="fas fa-plus-circle"></i>
            <i (click)=" numberProductTemplate = (numberProductTemplate >= 1) ? (numberProductTemplate - 1) : 0  " class="fas fa-minus-circle"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="bloc-panier">
      <a (click)="addProduct()" ><div id ="bouton-panier" class="bouton-panier"><i class="fas fa-shopping-bag"></i>AJOUTER AU PANIER</div></a>
    </div>
  </div>

</div>
