



<section class="section-commande">
  <div class="container">
    <div class="row">
      <div class="bloc-titre-commandes">
        <h2 class="titre-commandes" id="il-faut-aller-ici-commandes"><i class="fas fa-cube"></i> / COMMANDES EN COURS </h2>
        <br>
        <br>
        <p class="texte-commandes">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis,  iudices, nec descensurum</p>
        <br>



        <div class="bloc-commerce-commande">
          <h3 class="titre-commerce">- Boulangerie Mathieu -</h3>
          <table class="table-commande col-12">
            <tr class="tr-titre">
              <td class="td-titre col-1">Numero Commande</td>
              <td class="td-titre col-1">Prix</td>
              <td class="td-titre col-1">Quantité</td>
              <td class="td-titre col-3">Statut</td>
              <td class="td-titre col-3">Client</td>
              <td class="td-titre col-3">Facture</td>
            </tr>
            <tr class="tr">
              <td class="td-produits">#000000001</td>
              <td class="td ">1.10€</td>
              <td class="td">02</td>
              <td class="td">En Attente</td>
              <a href=""><td class="td-lien">John Doe</td></a>
              <a href=""><td class="td"><i class="far fa-file-pdf"></i></td></a>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
