



<section class="section-commande">
  <div class="container">
    <div class="row">
      <div class="bloc-titre-commandes">
        <h2 class="titre-commandes" id="il-faut-aller-ici-commandes"><i class="fas fa-cube"></i> / COMMANDES EN COURS </h2>
        <br>
        <br>
        <p class="texte-commandes">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis,  iudices, nec descensurum</p>
        <br>

          <!-- /merchant/shoppingCarts
           permet de recuperer un lister de commerce + pour chacun, listes de shoppingsByCommerce.
           --->

          <div *ngFor="let c of listByCommerce" class="bloc-commerce-commande" >
            <div class="bloc-commerce-commande" *ngIf="c.shoppingCarts.length">
              <h3 class="titre-commerce">- {{ c.name }} -</h3>

              <div *ngFor="let scbc of c.shoppingCarts"  >
                <app-command-merchant-view  [shoppingCartByCommerce]="scbc" ></app-command-merchant-view>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>
