




<div class="super-bloc-fiche-produit" *ngIf="productTemplate" >
  <div class="bloc-titre col-12">
    <h4 class="titre-produit">- {{productTemplate.name}} -</h4>

    <div class="cercle-bookmark">
      <i class="fas fa-bookmark"></i>
    </div>

    <div class="cercle-pencil" *ngIf="connexionService.getLocalConnectedRole()===UserRole.MERCHANT"  [routerLink]="'/merchant/productTemplate/addOrUpdate/' + productTemplate.id" >
      <i class="fas fa-pencil-alt" ></i>
    </div>

  </div>

  <div class="bloc-affichage-produit col-12">
    <div class="img-affichage col-6 no-gutters">
      <article>
        <figure class="work-img no-gutters">
          <img class="img col-12" src="/assets/img/produit/{{productTemplate.image}}" alt="image du produit">
          <figcaption>
            <div class="fond-filtre" ></div>
            <div class="note">
              <i class="fas fa-star"></i> <!-- todo -->
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </figcaption>
        </figure>
      </article>
    </div>
    <div class="informations-affichage col-6">
      <div class="commerce-affichage">
        <div class="bloc-prix-affichage col-12">
          <div class="affichage col-6">
            <div class="prix-affichage">{{productTemplate.salePrice}} €</div>
            <div class="bloc-prix-barre">
              <div class="prix-barre-affichage">{{productTemplate.price}} €</div>
              <div class="trait"></div>
            </div>
          </div>
          <div class="bloc-panier" *ngIf="connexionService.getLocalConnectedRole()!==UserRole.MERCHANT" >
            <a href=""><div id ="bouton-panier" class="bouton-panier"><i class="fas fa-shopping-bag"></i>AJOUTER AU PANIER</div></a>
          </div>
        </div>
        <div class="Lieu-affichage col-8">
          <label for="liste-mois" class="label-formulaire"> Votre produit est disponible ici :</label>
          <select id="liste-mois" class="liste-mois col-12">
            <option>Daily Juicery (lille)</option>  <!-- todo -->
            <option>Daily Juicery (lille)</option>
            <option>Daily Juicery (lille)</option>
            <option>Daily Juicery (lille)</option>
            <option>Daily Juicery (lille)</option>
            <option>Daily Juicery (lille)</option>
          </select>
        </div>

        <!-- todo -->
        <div class="bloc-quantite-produit col-6" *ngIf="productTemplate.schedulerWeekForSaleAndUnsold && productTemplate.schedulerWeekForSaleAndUnsold.days && (productTemplate.schedulerWeekForSaleAndUnsold.days.length==2) && productTemplate.schedulerWeekForSaleAndUnsold.days[0].hoursRanges && (productTemplate.schedulerWeekForSaleAndUnsold.days[0].hoursRanges.length>=1) ">
          <p class="offre-disponible"><i class="fas fa-asterisk"></i> Offre disponible jusqu'à {{productTemplate.schedulerWeekForSaleAndUnsold.days[0].hoursRanges[0].endTime}}.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="bloc-composition-produit col-12">
        <div class="composition-produit">
          <h4 class="titre-detail">// DETAILS DU PRODUIT</h4>
          <h5><i class="fas fa-caret-right"></i> Composition</h5>
          <p class="composition-affichage">{{productTemplate.description}}</p>
          <hr>
        </div>
        <div class="composition-produit">
          <h5><i class="fas fa-caret-right"></i> Emballage</h5>
          <p class="composition-affichage"> {{productTemplate.isPackaged ? 'Avec emballage.': 'Sans emballage.'}}</p>
          <hr>
        </div>
        <div class="composition-produit col-12">
          <h5><i class="fas fa-caret-right"></i> Régime Alimentaire compatible</h5>
          <p class="composition-affichage"> Sportif - </p>
          <hr>
        </div>
        <div class="composition-produit col-12">
          <h5><i class="fas fa-caret-right"></i> Allergènes</h5>
          <p class="composition-affichage"> Gluten - Fruit à coque</p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
