<div class="background"> <!-- Background => Dévoilement du footer -->

  <app-header></app-header>

  <router-outlet></router-outlet>

  <!-- here, we put everything front of the page -->
  <app-social-box></app-social-box>
  <app-test></app-test>
</div>

<app-footer></app-footer>
<app-info-box-notifications></app-info-box-notifications>

<!-- Todo remove -->

<div class="container ">
  <div class="row">
    <div class="bloc-navbar col-12">

      <div class="grand-bloc col-12">
        <div class="bloc-lien col-3">
          <!-- Pages anonyme -->
          <h5>PAGES ANONYME</h5>
          <p routerLinkActive="active"><a routerLink="welcome" class="lien-router">Accueil</a></p>
          <p routerLinkActive="active"><a routerLink="signin" class="lien-router">Inscription</a></p>
          <p routerLinkActive="active"><a routerLink="emailValidation" class="lien-router">Validation d'e-email</a></p>
          <p routerLinkActive="active"><a routerLink="login" class="lien-router">Connexion</a></p>
          <p routerLinkActive="active"><a routerLink="passwordRescue" class="lien-router">Récupération de mot-de-passe</a></p>
          <p routerLinkActive="active"><a routerLink="generalFaq" class="lien-router">F.A.Q. générale</a></p>
          <p routerLinkActive="active"><a routerLink="legalNotices" class="lien-router">Mentions légales</a></p>
          <p routerLinkActive="active"><a routerLink="findUs" class="lien-router">Où nous trouver</a></p>
        </div>


        <div class="bloc-lien col-3">
          <!-- Pages Common -->
          <h5>PAGE COMMON</h5>
          <p routerLinkActive="active"><a routerLink="passwordReset" class="lien-router">Réinitialisation de mot-de-passe</a></p>
          <p routerLinkActive="active"><a routerLink="deactivateAccount" class="lien-router">Désactivation du compte</a></p>
          <p routerLinkActive="active"><a routerLink="shoppingCart" class="lien-router">1.Panier-commande</a></p>
          <p routerLinkActive="active"><a routerLink="commandRecap" class="lien-router">2.Résumé-commande</a></p>
          <p routerLinkActive="active"><a routerLink="commandPayment" class="lien-router">3.Paiement-commande</a></p>
          <p routerLinkActive="active"><a routerLink="commandConfirmation" class="lien-router">4.Confirmation-commande</a></p>
          <p routerLinkActive="active"><a routerLink="tchat" class="lien-router">Tchat</a></p>
          <p routerLinkActive="active"><a routerLink="productSheet/91" class="lien-router">Fiche produit</a></p>
          <p routerLinkActive="active"><a routerLink="commerceSheet/88" class="lien-router">Fiche commerce</a></p>
          <p routerLinkActive="active"><a routerLink="myProfile" class="lien-router">Compte</a></p>
          <p routerLinkActive="active"><a routerLink="myOrders" class="lien-router">Compte commandes</a></p>
          <p routerLinkActive="active"><a routerLink="myComments" class="lien-router">Compte commentaires</a></p>
          <p routerLinkActive="active"><a routerLink="myPreferences" class="lien-router">Compte préférences</a></p>
        </div>

        <div class="bloc-lien col-3">
          <!-- Pages individual -->
          <h5>PAGES INDIVIDUAL</h5>
          <p routerLinkActive="active"><a routerLink="individual/welcome" class="lien-router">Accueil - Compte particulier</a></p>
        </div>


        <div class="bloc-lien col-3" >
          <!-- Pages merchant -->
          <h5>PAGES MERCHANT</h5>
          <p routerLinkActive="active"><a routerLink="merchant/welcome" class="lien-router">Accueil - Compte commerçant</a></p>
          <p routerLinkActive="active"><a routerLink="merchant/faq" class="lien-router">F.A.Q. $merchant</a></p>
          <p routerLinkActive="active"><a routerLink="merchant/listProductsTemplates" class="lien-router">Liste des fiches produits (test)</a></p>
        </div>
      </div>


      <div class="grand-bloc2 col-12">
        <div class="bloc-lien col-3">
          <!-- Pages association -->
          <h5>PAGE ASSOCIATION</h5>
          <p routerLinkActive="active"><a routerLink="association/welcome"  class="lien-router">Wc Asso</a></p>
        </div>

        <div class="bloc-lien col-3">
          <!-- Pages admin -->
          <h5>PAGE ADMIN</h5>
          <p routerLinkActive="active"><a routerLink="admin/welcome" class="lien-router">Wc Admin</a></p>
        </div>

        <div class="bloc-lien col-3" >
          <!-- Tests -->
          <h5>TESTS</h5>
          <p routerLinkActive="active"><a routerLink="test/testSpringRest" class="lien-router">test Rest</a></p>
          <p routerLinkActive="active"><a routerLink="test/appareils" class="lien-router">test AppAll</a></p>
          <p routerLinkActive="active"><a routerLink="test/appareils/:id" class="lien-router">test App</a></p>
          <p routerLinkActive="active"><a routerLink="test/connexion" class="lien-router">test connexion</a></p>
        </div>

      </div>
    </div>
  </div>
</div>


