


<div class="background"> <!-- Background => Dévoilement du footer -->          

  <app-header></app-header>

  <router-outlet></router-outlet>

  <!-- here, we put everything front of the page -->
  <app-social-box></app-social-box>
  <app-test></app-test>
</div>

<app-footer></app-footer>
<app-info-box-notifications></app-info-box-notifications>

<!-- Todo remove -->
<nav class="navbar navbar-default" style="position: fixed; bottom: 0px; left: 0px; right: 0px; z-index: 999;">
    <div class="container-fluid">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="welcome">Welcome</a></li>
                <li routerLinkActive="active"><a routerLink="signin">Signin</a></li>
                <li routerLinkActive="active"><a routerLink="emailValidation">EmailVal</a></li>
                <li routerLinkActive="active"><a routerLink="login">Login</a></li>
                <li routerLinkActive="active"><a routerLink="passwordRescue">PwdRescue</a></li>
                <li routerLinkActive="active"><a routerLink="individual/welcome">Wc Indiv</a></li>
                <li routerLinkActive="active"><a routerLink="merchant/welcome">Wc Merch</a></li>
                <li routerLinkActive="active"><a routerLink="association/welcome">Wc Asso</a></li>
                <li routerLinkActive="active"><a routerLink="admin/welcome">Wc Admin</a></li>
                <li routerLinkActive="active"><a routerLink="test/testSpringRest">test Rest</a></li>
                <li routerLinkActive="active"><a routerLink="test/appareils">test AppAll</a></li>
                <li routerLinkActive="active"><a routerLink="test/appareils/:id">test App</a></li>
                <li routerLinkActive="active"><a routerLink="test/connexion">test connexion</a></li>
            </ul>
        </div>
    </div>
</nav>