     /* VARIABLES COULEURS CSS */

:root {
  --couleurVerte: #03DAC5;
  --couleurBleue: #6200EE;
  
  --couleurDegradeRose: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  --couleurDegradeVert: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  --couleurDegradeNoir: linear-gradient(to right, rgba(18,18,18,1) 0%, rgba(48,48,48,1) 100%);  
    
  --couleurFondVert: #E9FFFD;
  --couleurFondViolet: #E2E9FF;
 
  /* Element Noir, Blanc, Gris */ 
  --couleurNoir: #3E3E3E;
  --couleurGrisClair: #f6f6f6;    
  --couleurBlancCreme: #fffdfd; 
  
  /* Element Noir & Blanc pur */ 
  --couleurNoirPur: #000;    
  --couleurBlanc: #fff; 
    
  /* Element Graphique */ 
  --couleurEtoile: #e7711b; 
    
   /* Vrai & Faux - Correct & Incorrect */    
  --couleurVertCorrect: #C4E538;
  --couleurRougeIncorrect: #EA2027;   
}        
        



         /* DEFAUT */

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

          /* BODY */

body {
    padding-bottom: 400px;
}

    /* Image Responsive */

img {
  max-width: 100%;
  width: auto;
  height: auto;    
}

       
          




       /* BACKGROUND */
.background {
   min-height: 100vh;
   background-color: var(--couleurBlancCreme);
   background-image: url(img/pattern/groovepaper.png); 
   box-shadow: 3px 3px 20px rgba(0,0,0, .4); 
   position: relative;    
   z-index: 1; 
}

          
         /* HEADER => Menu */
.menu {
  width: 100%;
  height: 55px;
  background-color: rgba(255, 253, 253, 0.90);
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
  box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.15);
  position: fixed;
    top: 0;
  z-index: 999;
}

.cercle {
    width: 80px;
    height: 80px;
    background-image: var(--couleurDegradeVert);
    border-radius:  50%;
    border: 0.15rem solid #fff;
    margin-top: 12px;
    margin-left: 7%;
    padding: 0;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, .02);
    -webkit-transition: all 0.2s ease-out;
    transition: all 1s ease-out;
    position: absolute;
    z-index: 9999;
}

.cercle:hover {
    width: 90px;
    height: 90px;
    background-image: var(--couleurDegradeRose);
}

.fa-maxcdn{
    color: #fff;
    font-size: 1.5em;
    margin-left: 50%;
    margin-top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
}

.icones-menu {
    font-size: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 5%;
    top: 30%;
    position: absolute;
    cursor: pointer;
}

.icones-user:hover .bloc-compte {
    visibility: visible;
}

.icones-user:hover .fa-sort-up {
    visibility: visible;
}


.fa-user-circle {
    margin-right: 20px;
}

.bloc-compte {
    margin-top: 2px;
    visibility: hidden;
}

.fa-sort-up {
    color: rgba(0, 0, 0, 0.8);
    margin-top: -10px;
    margin-left: 5px;
    position: absolute;
    visibility: hidden;
}

.compte {
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.20);
    padding: 25px 35px;
    margin-left: -45%;
    margin-top: 0px;
    position: absolute;
    cursor: pointer;
}

.onglet-menu {
    font-family: 'roboto', sans-serif;
    font-size: 0.5em;
    font-weight: 400;    
    text-align: center;
    color: var(--couleurBlancCreme);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.onglet-menu:hover {
    background-color: var(--couleurVerte);
    color: var(--couleurNoir);
}

.trait-compte {
    width: 100%;
    height: 0.1em;
    background-color: var(--couleurVerte);
}

.icones {
    margin-right: 30px;
    color: var(--couleurNoir);
}

.cercle-prix {
    width: 22px;
    height: 22px;
    font-family: 'roboto', sans-serif;
    font-size: 0.65em;
    background-color: var(--couleurNoir);
    color: var(--couleurBlancCreme);
    border-radius: 50%;
    padding-left: 12%;
    margin-top: -13px;
    margin-left: 8px;
    position: relative;
}

.fa-bars {
    color: var(--couleurNoir);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; 
}

.fa-bars:hover {
    color: var(--couleurVerte);
    font-size: 1.1em;
}


     
         /* HEADER => Menu Principal */

.bloc-menu {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.77);
    background-size: cover;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 999999;
    visibility: hidden;
}

nav {
    margin-top: 25%;
    transform: translate(0, -25%);
}

.onglet-menu-principal {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4em;
    font-style: italic;
    font-weight: 600;
    font-style: italic;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: var(--couleurVerte);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.5s ease-out; 
}

.onglet-menu-principal:hover {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.8em;
    font-style: italic;
    font-weight: 600;
    font-style: italic;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    color: var(--couleurBlancCreme);
    background-color: var(--couleurVerte);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


     /* Croix Quitter */
.bloc-quitter {
    width: 50px;
    height: 50px;
    background-color: var(--couleurVerte);
    top: 15px;
    right: 15px;
    position: absolute;
    z-index: 10;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
}

.bloc-quitter:hover {
    background-color: var(--couleurBlancCreme);
}

.croix-quitter {
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.barre-croix {
    width: 3px;
    height: 30px;
    background-color: var(--couleurNoir);
    border-radius: 20px;
    margin-top: 50%;
    margin-left: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
     -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.50);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.50);
    position: absolute;

}

.barre-croix2 {
    width: 30px;
    height: 3px;
    background-color: var(--couleurNoir);
    margin-top: 50%;
    margin-left: 50%;
    -webkit-transform: translate(-45%, -50%);
    transform: translate(-45%, -50%);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.50);
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.50);
    position: absolute;
}





   /* SECTION -> Rechercher un Produit */
.titre-rechercher-produit {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--couleurNoir);
    text-align: LEFT;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 60px;
    margin-top: 90px;
}

.bloc-map {
    width: 100%;
    background-color: var(--couleurBlancCreme);
    box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.15);
    padding: 40px;
}

.bloc-input-recherche {
   display: flex;
   margin-bottom: 40px;
}

.display-input {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.bloc-ou {
    background-color: var(--couleurNoir);
    box-shadow: 4px 4px 10px 2px rgba(0,0,0,0.15);
}

.bloc-quoi {
    background-color: var(--couleurNoir);
    box-shadow: 4px 4px 10px 2px rgba(0,0,0,0.15);
}

.text-input {
    font-family: 'roboto', sans-serif;
    font-size: 0.85em;
    font-weight: 600;
    font-style: italic;
    color: var(--couleurVerte);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.recherche-ou {
    height: 30px;
    border-radius: 20px;
    border: none;
    font-family: 'roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
    color: var(--couleurNoir);
    padding-left: 15px;
    margin-left: 50%;
    transform: translate(-50%);
}

.bouton-search {
    position: absolute;
    right: 0;
}

.recherche-quoi {
    height: 30px;
    border-radius: 20px;
    border: none;
    font-family: 'roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
    color: var(--couleurNoir);
    padding-left: 15px;
    margin-left: 50%;
    margin-bottom: 35px;
    transform: translate(-50%);
}

.bloc-rechercher {
    background-color: var(--couleurVerte);
    box-shadow: 4px 4px 10px 2px rgba(0,0,0,0.15);
}

.bouton-rechercher {
    width: 130px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: var(--couleurVerte);
    background: var(--couleurNoir);
    border: none;
    border-radius: 28px;
    transform: translate(0%, 0%);
    padding: 12px 20px 12px 20px;
    margin-top: 30%;    
    margin-left: 50%;
    transform: translate(-50%);
    -webkit-box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
    cursor: pointer;
}

.bouton-rechercher:hover {
    color: var(--couleurVerte);
    background:  var(--couleurBlancCreme);
}


.mapid {
    width: 100%;
    height: 350px;
    background-color: var(--couleurGrisClair);
}




/* SECTION -> Section Affichage Produit */
.bloc-trie {
    min-height: 400px;
    background-color: var(--couleurGrisClair);
    box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.15); 
    padding-top: 40px;
    padding-bottom: 70px;
}

/* Panneau - Allergenes */
.label-formulaire {
    width: 110px;
    font-family: 'roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 600; 
    color: var(--couleurNoir);
    margin-bottom: 4px;
    margin-left: 50%;
    transform: translate(-50%);
}

.liste-deroulante {
    width: 110px;
    height: 22px;
    font-family: 'roboto', sans-serif;
    font-size: 0.75em;
    font-weight: 400; 
    color: var(--couleurNoir);
    border: 1.5px solid #000;
    border-radius: 5px;
    margin-bottom: 14px;
    margin-left: 50%;
    padding-left: 10px;
    transform: translate(-50%);
    display: block;   
}

.bloc-checkbox {
    font-family: 'roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
    margin-left: 30px;
    display: flex;
}

.checkbox {
    margin-right: 8px;
}


.titre-avancee {
    font-family: 'roboto', sans-serif;
    font-size: 0.80em;
    font-weight: 600;
    font-style: italic;
    margin-top: 60px;
    cursor: pointer;
}


.fa-angle-up {
    position: absolute;
    visibility: visible;
    
}

.fa-angle-down {
    visibility: hidden;
}

.bloc-filtre-regime {
    visibility: hidden;
}

.titre-filtre-regime {
    font-family: 'roboto', sans-serif;
    font-size: 0.75em;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%);
}

.bloc-checkbox-regime {
     display: flex;
}

.checkbox-regime {
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 8px;
}

.label-regime {
    font-family: 'roboto', sans-serif;
    font-size: 0.72em;
    font-weight: 400;
}

.bloc-filtre-allergene {
    visibility: hidden;
}

.titre-filtre-allergene {
    font-family: 'roboto', sans-serif;
    font-size: 0.75em;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 40px;
    margin-left: 50%;
    transform: translate(-50%);
}

.bloc-checkbox-allergene {
     display: flex;
}

.checkbox-allergene {
    font-family: 'roboto', sans-serif;
    font-size: 0.72em;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 8px;
}

.label-allergene {
    font-family: 'roboto', sans-serif;
    font-size: 0.72em;
    font-weight: 400;
}



select:focus {
   background-color: var(--couleurVerte);
   border: none;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}


input[type=checkbox] {
    -border-radius: 4px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid var(--couleurNoir);
}

input[type="checkbox"]:checked {
  background: var(--couleurVerte);
  position: relative;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: block;
    color: grey;
    font-size: 13px;
    position: absolute;
  }
}


/* bloc-affichage - Produit */
.bloc-affichage {
    width: 100%;
    background-color: var(--couleurBlancCreme);
    box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.15);
    padding-top: 40px;
    padding-bottom: 70px;
    
}

.bloc-affichage-produit {
    margin-bottom: 140px;
    display: flex;
}


.commerce-affichage {
    background-color: var(--couleurNoir);
    padding-top: 7px;
    padding-bottom: 7px;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--couleurVerte);
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.adresse-affichage {
    font-family: 'roboto', sans-serif;
    font-size: 0.75em;
    font-weight: 400;
    font-style: italic;
    color: var(--couleurBlancCreme);
    margin-bottom: 8px;
    margin-left: 20px;
}

.icones-affichage {
    font-family: 'roboto', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    color: var(--couleurBlancCreme);
}

.img {
    width: 600px;  
    max-height: 350px; 
    object-fit: cover;
    box-shadow: 6px 6px 10px 1px rgba(0,0,0,0.08);
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 0;
}

.img:hover {
    opacity: 0.85;
    
}

figure:hover .note {
    visibility: visible;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

figure:hover figcaption {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}



.fond-filtre {
    width: 600px;  
    max-height: 350px;
    background-color: rgba(0,0,0, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
    opacity: 1;
}

.note {
    color: var(--couleurVerte);
    margin-top: 20px;
    text-align: center;
    margin-top: -25%;
    position: relative;
    visibility: hidden
    
}


h5 {
    font-family: 'roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--couleurNoir);
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.composition-affichage {
    font-family: 'roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
    line-height: 1.2em;
    color: var(--couleurNoir);
    margin-bottom: 12px;
    margin-right: 15%;
    margin-left: 5%;
    margin-right: 5%;
}

.key-allergene {
        font-family: 'roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    font-style: italic;
    line-height: 1.2em;
    color: var(--couleurNoir);
    margin-right: 15%;
    margin-left: 5%;
    margin-right: 5%;
}

.bloc-prix-affichage {
    display: flex;
    position: relative;
    background-color: var(--couleurGrisClair);
    bottom: -30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.prix-affichage {
    min-width: 100px;
    font-family: 'roboto', sans-serif;
    font-size: 1.4em;
    font-weight: 600;
    color: var(--couleurGrisClair);
    background-color: var(--couleurVerte);
    position: absolute;
    padding: 7px 14px;
}

.bloc-quantite-produit  {
    display: flex;
}

.quantite-produit {
    width: 40px;
    height: 30px;
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    font-weight: 400; 
    color: var(--couleurNoir);
    border: 1.5px solid #000;
    border-radius: 5px;
    padding-left: 14px;
    margin-right: 10px;
    display: block;
}

.plus-moins {
    font-size: 1.2em;
    margin-top: 7px;
}

.bloc-panier {
    right: 15%;
    bottom: 0;
    position: absolute;
    display: block;
    margin-bottom: -100px;
}

.bouton-panier {
    width: 185px;
    font-family: sans-serif;
    font-size: 0.75em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: var(--couleurVerte);
    background: var(--couleurNoir);
    box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.3);
    border: 2px solid var(--couleurVerte);
    border-radius: 28px;
    padding: 14px 20px 14px 20px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; 
    cursor: pointer;
}


.bouton-panier:hover {
    color: var(--couleurBlancCreme);
    background: var(--couleurNoir);
    border: 2px solid var(--couleurBlancCreme);
    border-radius: 28px;
    padding: 16px 20px 16px 20px;
}

.fa-shopping-bag {
    margin-right: 5px;
}


.bloc-prix-barre {
    min-width: 67px;
    margin-right: 40px;
    margin-top: -20px;
    right: 0px;
    top: 0px;
    position: absolute;
}

.prix-barre-affichage {
    font-family: 'roboto', sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    font-style: italic;
    color: var(--couleurNoir);
    background-color: var(--couleurRougeIncorrect);
    padding: 5px 14px;
   
}

.trait {
    width: 70%;
    height: 1px;
    background-color: var(--couleurNoir);
    margin-top: -12px;
    margin-left: 50%;
    transform: translate(-50%);    
}

.bloc-pagination {
    width: 100%;
    height: 45px;
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    background-color: var(--couleurGrisClair);
    color: var(--couleurNoir);
    box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.15);
    right: 0;
    display: flex;
    bottom: -45px;
    position: absolute;
}

.pagination {
    margin-top: 7px;
    margin-left: 50%;
    transform: translate(-50%);
}

.fa-angle-left {
    color: var(--couleurNoir);
    font-size: 1.4em;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px; 
}

.fa-angle-double-left {
    color: var(--couleurNoir);
    margin-top: 5px;
    font-size: 1.4em;    
}

.fa-angle-right {
    color: var(--couleurNoir);
    font-size: 1.4em;
    margin-top: 5px;
    margin-right: 5px; 
    margin-left: 5px;
}

.fa-angle-double-right {
    color: var(--couleurNoir);
    font-size: 1.4em;
    margin-top: 5px;
}

.text-page {
    color: var(--couleurNoir);
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 5px; 
}

.cercle-element {
    width: 30px;
    height: 30px; 
    color: var(--couleurVerte);
    background-color: var(--couleurNoir);
    border-radius: 50%; 
    margin-right: 7px;
}

.elements-pagination {
    margin-left: 50%;
    transform: translate(-30%, 45%);
}







   

   /* SECTION -> Bloc-Produits & Commandes */
.bloc-mes-produits {
    width: 100%;
    background-color: var(--couleurNoir);
    box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.15);
    padding-bottom: 40px;
    padding-left: 70px;
    margin-top: 150px;
}

.titre-mes-produits {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--couleurVerte);
    text-align: left;
    padding-top: 40px;
    padding-bottom: 30px;
}


.element-img {
    display: inline-flex;
}

.img-produit {
    width: 180px;
    height: 120px;
    background-color: var(--couleurBlancCreme);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3);
    display: inline-flex;
    margin-left: 20px;
    margin-bottom: 20px; 
}

.cercle-plus {
    width: 40px;
    height: 40px;
    background-color: var(--couleurVerte);
    border-radius: 50%;
    margin-left: -20px;
    margin-top: 15px;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.2s ease-out; 
}

.cercle-plus:hover {
    background-color: var(--couleurBlancCreme);
    color: var(--couleurVerte);

}

.fa-plus {
    font-size: 1.5em;
    color: var(--couleurNoir);
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}

.bloc-mes-commerces {
    background-color: var(--couleurGrisClair);
    box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.15);
    padding-bottom: 40px;
    padding-left: 70px;
}

.titre-mes-commerces {
     font-family: 'Ubuntu', sans-serif;
     font-size: 1.2em;
     font-weight: 600;
     color: var(--couleurNoir);
     text-align: left;
     padding-top: 40px;
     padding-bottom: 40px;
}

.img-commerce {
    width: 120px;
    height: 120px;
    border-radius: 10px 30px;
    background-color: var(--couleurNoir);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.3); 
    display: inline-flex;
    margin-left: 20px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; 
    cursor: pointer;
}

.img-commerce:hover {
    border-radius: 50%;
}





     /* SECTION -> Bloc Commandee en Cours */
.section-commande {
    margin-top: 50px;
}

.bloc-titre-commandes {
    width: 100%;
    min-height: 600px;
    background-color: var(--couleurBlancCreme);
    padding-bottom: 90px;
}

.titre-commandes {
     font-family: 'Ubuntu', sans-serif;
     font-size: 1.6em;
     font-weight: 600;
     color: var(--couleurNoir);
     text-align: center;
     padding-top: 90px;
}

.texte-commandes {
     font-family: 'roboto', sans-serif;
     font-size: 1em;
     font-weight: 400;
     color: var(--couleurNoir);
     margin-left: 50%;
     -webkit-transform: translate(-50%,0);
     transform: translate(-50%,0);
}


.bloc-facture-print {
    font-family: 'roboto', sans-serif;
    font-size: 1.8em;
    color: var(--couleurNoir);
    margin-bottom: 50px;
    display: inline-flex;
}

.pdf {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--couleurNoir); 
    color: var(--couleurVerte);
    right: 45%;
    position: absolute;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; 
}

.pdf:hover {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--couleurVerte);
    color: var(--couleurNoir);
}

.fa-file-pdf {
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}

.print {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--couleurNoir); 
    color: var(--couleurVerte);
    right: 50%;
    margin-right: 10px;
    position: absolute;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; 
}


.print:hover {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--couleurVerte);
    color: var(--couleurNoir)
}

.fa-print {
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}





.bloc-commerce-commande {
    margin-left: 10%;
    margin-right: 10%;
}

.titre-commerce {
     width: 250px;
     font-family: 'roboto', sans-serif;
     font-size: 1em;
     font-weight: 600;
     text-align: center;
     color: var(--couleurBlancCreme);
     background-color: var(--couleurVerte);
     padding-top: 10px;
     padding-bottom: 10px;
     margin-top: 30px;
}

.table-commande {
    width:: 100%;
    height: 40px;
    background-color: var(--couleurBlancCreme);
    text-align: center;
    margin-top: 5px;
}

.tr-titre {
    font-family: 'roboto', sans-serif;
    font-size: 0.85em;
    font-weight: 600;  
    background-color: var(--couleurNoir);
    color: var(--couleurBlancCreme);
    
}

.tr {
    font-family: 'roboto', sans-serif;
    font-size: 0.85em;
    font-weight: 600;
    font-style: italic;
    border-bottom: 1px solid var(--couleurVerte);
    
}

.td {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: var(--couleurGrisClair);
}

.td-titre {
    font-family: 'roboto', sans-serif;
    font-size: 0.95em;
    font-weight: 600;  
    background-color: var(--couleurNoir);
    color: var(--couleurBlancCreme);
    padding-top: 14px;
    padding-bottom: 14px;
}


     /* SECTION -> Bloc-Historique-commande */

.bloc-historique-commande  {
    width: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2303dac5' fill-opacity='0.8' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    box-shadow: 10px 15px 20px 2px rgba(0,0,0,0.15);
}

.texte-historique-commande {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    color: var(--couleurNoir);    
    text-align: center;
    padding-top: 70px;
    margin-bottom: 30px;
}

.bouton-historique-commande {
    width: 280px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: var(--couleurBlancCreme);
    background: var(--couleurNoir);
    border: none;
    border-radius: 28px;
    transform: translate(0%, 0%);
    padding: 12px 20px 12px 20px;
    margin-left: 50%;
    margin-bottom: 90px;
    transform: translate(-50%);
    -webkit-box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 9px 6px -6px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
    cursor: pointer;
}

.bouton-historique-commande:hover {
    width: 290px;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: var(--couleurBlancCreme);
    background: var(--couleurVerte);
    padding: 15px 22px 15px 22px;
}










           /* BOUTON-UP */

.fond-up {
    background-color: var(--couleurBlanc);
    
}

.bouton-up {
    width: 60px;
    height: 60px;
    border-radius: 20% 2%;
    background-color: var(--couleurNoir);
    right: 2%;
    bottom: 2%;
    -webkit-box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, .1);
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, .1);
    position: absolute;
    cursor: pointer;
}

.fa-chevron-up {
    font-size: 2em;
    color: var(--couleurBlanc);
    margin-left: 50%;
    margin-top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

          

           /* SOCIAL MEDIAS */
.social-medias {
    margin: 0;
    padding: 0;
    top: 50%;
    position: fixed;
    z-index: 999;
}

.social-medias li:first-child {
    width: 40px;
    height: 40px;
    background-color: var(--couleurNoir);
    list-style: none;
    text-decoration: none;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.fa-facebook-f {
    font-size: 1.2em;
    color: #fff;
    margin-left: 14px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.social-medias li:first-child:hover {
    width: 90px;
    height: 40px;
    background-color: var(--couleurNoir);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    box-shadow: 3px 3px 3px rgba(0,0,0, .1);
}

.social-medias li:hover .fa-facebook-f {
    margin-left: 67px;
}

.twitter {
    width: 40px;
    height: 40px;
    background-color: var(--couleurNoir);
    list-style: none;
    text-decoration: none;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.fa-twitter {
    font-size: 1.2em;
    color: #fff;
    margin-left: 9px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.twitter:hover {
    width: 90px;
    height: 40px;
    background-color: var(--couleurNoir);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    box-shadow: 3px 3px 3px rgba(0,0,0, .1);
}

.twitter:hover .fa-twitter {
    margin-left: 63px;
}


.social-medias li:last-child {
    width: 40px;
    height: 40px;
    background-color: var(--couleurNoir);
    list-style: none;
    text-decoration: none;
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}


.fa-google-plus-g {
    font-size: 1.2em;
    color: #fff;
    margin-left: 8px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.social-medias li:last-child:hover {
    width: 90px;
    height: 40px;
    background-color: var(--couleurNoir);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0, .1);
    box-shadow: 3px 3px 3px rgba(0,0,0, .1);
}

.social-medias li:last-child:hover .fa-google-plus-g {
   margin-left: 60px;
}



            /* FOOTER */

.footer {
    width: 100%;
    height: 400px;
    background-color: var(--couleurNoir);
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 0;
}

.bloc-centre-footer {
    display: inline-flex;
    margin-top: 10%;
}

.adresse-footer {
    padding-left: 0%;
}

.ul-menu-footer {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 0.90em;
    text-align: center;
}

.trait-footer {
    color: var(--couleurVerte);
}

.titre-footer {
    font-family: 'roboto', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
    color: var(--couleurNoir);
    border-bottom: 1px solid var(--couleurVerte);
    background-color: var(--couleurGrisClair);
    -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.16);
    -moz-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.16);
    box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.16); 
    margin-bottom: 25px;
    padding: 5px 10px;
}

.menu-footer {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 0.90em;
    font-style: italic;
    color: var(--couleurBlancCreme);  
    margin-top: 15px;
}

.menu-footer2 {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 0.90em;
    color: var(--couleurBlancCreme);  
    margin-top: 15px;
}

.menu-footer2:hover {
    color: var(--couleurVerte);  
}

hr {
    background-color: var(--couleurVerte);
}

.trait-footer {
    width: 100%;
    height: 2px;
    background-color: var(--couleurBlancCreme); 
}

.lien-mentions {
    font-family: 'roboto', sans-serif;
    font-size: 0.75em;
    color: var(--couleurBlancCreme);
    position: absolute;
    bottom: 70px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.lien-mentions:hover {
    color: var(--couleurVerte);
}


.informations-footer {
    width: 100%;
    height: 30px;
    background-color: var(--couleurBlancCreme);
    font-family: 'roboto', sans-serif;
    font-size: 0.75em;
    text-align: center;
    padding-top: 10px;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 0;
}

.italic-footer {
    font-style: italic;
}



