


<div class="header_space"></div>

<button class="bt_displaytest" (click)="toggleTestdisplay()" >test</button>

<div class="testPanel" *ngIf="displayTest == true" >

    <div style="text-align:center">
        <h1>
            Welcome to {{ title }}!
        </h1>
    </div>


    <div class="container">
    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>
    </div>

    <app-scheduler-week-txt></app-scheduler-week-txt>
    <app-scheduler-week-vsl></app-scheduler-week-vsl>

    <div class="navbar-right">
    <p>Vous êtes connecté depuis {{ secondes }} secondes !</p>
    </div>

</div>
