


<div class="week">
  <div *ngIf="scheduler.type === 0; else singleDisplay" class="container_layers" >
    <div *ngFor="let weekTyped of scheduler.group" class="container_layers" >
      <div *ngFor="let day of weekTyped.days" class="hours_container offseted" [ngStyle]="{'left': (day.day * 90) + 'px'}" >
        <div *ngFor="let hourR of day.hoursRanges" class="hoursRange hoursRange_{{weekTyped.type}}" [ngStyle]="{'top': ((hourR.startTime / (24 * 60)) * 100) +'%', 'height': ((( hourR.endTime - hourR.startTime) / (24 * 60)) * 100) + '%'}" ></div>
      </div>
    </div>
  </div>

  <ng-template #singleDisplay>
    <div *ngFor="let day of scheduler.days" class="hours_container offseted" [ngStyle]="{'left': (day.day * 90) + 'px'}" >
      <div *ngFor="let hourR of day.hoursRanges" class="hoursRange hoursRange_{{scheduler.type}}" [ngStyle]="{'top': ((hourR.startTime / (24 * 60)) * 100) +'%', 'height': ((( hourR.endTime - hourR.startTime) / (24 * 60)) * 100) + '%'}" ></div>
    </div>
  </ng-template>

  <div class="hours_container offseted">
    <div *ngFor="let hour of displaylistHours; index as i" class="heure-ligne">
      <div class="heure">{{hour}}h</div>
    </div>
  </div>

  <div *ngFor="let day of displaylistDay" class="bloc-jour">
    <div class="titre-jour">{{dayName(day)}}</div>
    <div class="hours_container">
    </div>
  </div>
</div>










