


<section class="section-inscription">
    <div class="bloc-formulaire-inscription">
        <div class="bloc-titre-inscription">
            <h1 class="titre-inscription">// INSCRIPTION</h1>
            <br>
            <br>
            <p class="texte-inscription col-8">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum</p>
            <br>
        </div>

        <form class="formulaire-inscription" [formGroup]="form1" (submit)="onSubmit($event)" >


            <label class="label-formulaire"><i class="fas fa-asterisk"></i> Vous êtes :</label>
            <select formControlName="role" name="role" class="liste-deroulante"  #inputRole >
                <option value="{{UserRole.INDIVIDUAL}}" selected="selected">Particulier</option>
                <option value="{{UserRole.MERCHANT}}" >Commerçant</option>
                <option value="{{UserRole.ASSOCIATION}}" >Association</option>
            </select>

            <label class="label-formulaire"><i class="fas fa-asterisk" ></i> Pseudo</label>
            <input formControlName="name" name="name" class="pseudo" type="text" placeholder="Pseudo" required>
            <span class="text-danger" *ngIf="controlName(); let message">{{message}}</span>

            <label class="label-formulaire"><i class="fas fa-asterisk"></i> Email</label>
            <input formControlName="email" name="email" class="email" type="text" placeholder="@Email" required>
            <span class="text-danger" *ngIf="controlEmail(); let message">{{message}}</span>

            <label class="label-formulaire"><i class="fas fa-asterisk"> </i> Mot de Passe</label>
            <input formControlName="password" name="password" class="mdp" type="password" required>
            <span class="text-danger" *ngIf="controlPassword(); let message">{{message}}</span>

            <label class="label-formulaire"><i class="fas fa-asterisk"></i> Confirmation Mot de Passe</label>
            <input formControlName="confirm" name="confirm" class="confirmation" type="password" required>
            <span class="text-danger" *ngIf="controlPasswordConfirm(); let message">{{message}}</span>

            <div class="bloc-checkbox">
              <input formControlName="term" name="accept_generale_condition" class="checkbox" type="checkbox" required >
              <label class="label" >J'ai lu et j'accepte les conditions générales <br> d'utilisation.</label>
              <span class="text-danger2" *ngIf="controlTerm(); let message">{{message}}</span>
            </div>
            <div class="bloc-checkbox2" *ngIf="( +inputRole.value===UserRole.MERCHANT)||(+inputRole.value===UserRole.ASSOCIATION)" >
              <input formControlName="declaration" name="confirm_on_honor" class="checkbox2" type="checkbox" [required]="(+inputRole.value===UserRole.MERCHANT)||(+inputRole.value===UserRole.ASSOCIATION)" >
              <label class="label" >Je certifie sur l'honneur que les informations <br> fournies sont rigoureusement exactes</label>
              <span class="text-danger2" *ngIf="controlDeclaration(); let message">{{message}}</span>
            </div>
            <div class="bloc-checkbox3">
                <input formControlName="newsletterEnabled" name="newsletterEnabled" class="checkbox3" type="checkbox">
                <label class="label" >J'accepte de recevoir des annonces.</label>
            </div>

            <button id ="bt_signin_submit" class="bouton-animation" type="submit" [disabled]="form1.invalid" >S'INSCRIRE</button>
            <p *ngIf="form1.invalid" class="avertissement-inscription">* Veuillez remplir tous les champs pour valider votre inscription.</p>
        </form>
    </div>
 </section>

