<header>
    <div class="menu">
        <a href="index.html"><div class="cercle"><i class="fab fa-maxcdn"></i></div></a>
        <div class="icones-menu">
          <div class="icones-user">
                <i class="fas fa-user-circle"></i>
                <div class="bloc-compte">
                     <i class="fas fa-sort-up"></i>
                     <ul class="compte">
                         <a href="connexion.html"><li class="onglet-menu">Se Connecter</li></a>
                         <div class="trait-compte"></div>
                         <a href="inscription.html"><li class="onglet-menu">S'inscrire</li></a>
                     </ul> 
                 </div> 
            </div>
            <div class="icone-panier">
                <a href=""><div class="icones"><i class="fas fa-shopping-bag"></i></div>
                    <div class="cercle-prix">3</div>
                </a>    
            </div>
            <div class="icone-hamburger">
                <div id="hamburger-menu" class="icones"><i class="fas fa-bars"></i></div>
            </div>
        </div>
         
        <div id="bloc-menu" class="bloc-menu col-12">
             <a href="index.html">
                  <div id="bloc-quitter" class="bloc-quitter">
                      <div class="croix-quitter">
                            <span class="barre-croix"></span>
                            <span class="barre-croix2"></span>
                      </div>
                  </div>
             </a>  
             <nav>
                <ul>
                    <a href="index.html"><li class="onglet-menu-principal">Accueil</li></a>
                    <a href="trouver.html"><li class="onglet-menu-principal">Ou Nous Trouver ?</li></a>
                    <a href="faq.html"><li class="onglet-menu-principal">F.A.Q</li></a>
                    <a href="contact.html"><li class="onglet-menu-principal">Contact</li></a>
                </ul> 
            </nav>
        </div>    
     </div> 
 </header>
