<!-- SECTION -> Etapes de commande -->
<section class="section-etapes-commande">
  <div class="bloc-etapes">
    <div class="etape-panier">
      <p class="mot-panier">1.Panier</p>
    </div>
    <i class="fas fa-angle-double-right"></i>
    <div class="etape-resumer-commande">
      <p class="mot-etape-resumer">2.Resumer</p>
    </div>
    <i class="fas fa-angle-double-right"></i>
    <div class="etape-paiement">
      <p class="mot-paiement">3.Paiement</p>
    </div>
    <i class="fas fa-angle-double-right"></i>
    <div class="etape-confirmation-commande">
      <p class="mot-etape-confirmation">4.Confirmation</p>
    </div>
  </div>
</section>
