


<section class="section-connexion">
    <div class="bloc-formulaire-connexion">
        <div class="bloc-titre-connexion">
            <h1 class="titre-connexion">// Demande de modification de Mot de passe</h1>
            <br>
            <br>
            <p class="texte-connexion col-8">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum</p>
            <br>
        </div>

        <form class="formulaire-connexion" [formGroup]="form1" (submit)="onSubmit()" >

          <label class="label-formulaire"><i class="fas fa-asterisk"></i> Email</label>
          <input formControlName="email" name="email" class="email" type="text" placeholder="@Email" required>
          <span class="text-danger" *ngIf="controlEmail(); let message">{{message}}</span>

          <button id="bouton-connexion" class="bouton-animation" type="submit" [disabled]="form1.invalid" >ENVOYER</button>
        </form>
    </div>
 </section>
