


<section class="section-connexion">
    <div class="bloc-formulaire-connexion">
        <div class="bloc-titre-connexion">
            <h1 class="titre-connexion">// Modification de Mot de passe</h1>
            <br>
            <br>
            <p class="texte-connexion col-8">Etenim si attendere diligenter, existimare vere de omni hac causa volueritis, sic constituetis, iudices, nec descensurum</p>
            <br>   
        </div>
        
        <form class="formulaire-connexion" action="" method="get">
            <label for="email" class="label-formulaire"><i class="fas fa-asterisk"></i> Email</label>
            <input id="email" class="email" type="text" name="email" placeholder="@Email" >
            <span id="emailRegex" class="pseudo-regex"></span>  
        
            <a href=""><div id ="bouton-connexion" class="bouton-connexion">Envoyer</div></a>
        </form>
    </div>
 </section>  